{% extends "SubSiteLayout.html" %}

{% block body_attr %}
   
{% endblock %}

{% block content %}


<header>
   <div class="banner-cage">
      <div class="container">
         <div class="row">
            <div class="banner-container d-flex">
               <div class="banner-container-subsites">
                  <div class="banner-container-subsites-desktop">
                     <div>
                         <a class="banner link-button text">CHP.ORG.TR</a>
                     </div>
                     <div class="line"></div>
                     <div class="banner-left-dropmenu">
                        <a class="banner link-button text">MYK SİTELERİ</a>
                        <div class="sub-banner-drop">
                           <div class="sub-banner-dropdown d-flex flex-column">
                              <a>MECLİS GRUBU</a>
                              <a>PARTİ ÖRGÜTÜ, ÖRGÜT YÖNETİMLERİ VE YURTDIŞI ÖRGÜTLENME</a>
                              <a>İDARİ VE MALİ İŞLER</a>
                              <a>HUKUK VE SEÇİM İŞLERİ</a>
                              <a>TANITIM HALKLA İLİŞKİLER</a>
                              <a>EKONOMİ POLİTİKALARI</a>
                              <a>İŞÇİ SENDİKALARI, ESNAF - SANATKÂR VE SİVİL TOPLUM KURULUŞLARI</a>
                              <a>SOSYAL POLİTİKALAR</a>
                              <a>BİLGİ VE İLETİŞİM TEKNOLOJİLERİ</a>
                              <a>PARTİ İÇİ EĞİTİM</a>
                              <a>KADIN KOLLARI</a>
                              <a>BİLİM, YÖNETİM KÜLTÜR PLATFORMU</a>
                              <a>EĞİTİM POLİTİKALARI</a>
                              <a>DOĞA HAKLARI - ÇEVRE</a>
                              <a>GENÇLİK KOLLARI</a>
                              <a>İNSAN HAKLARI </a>
                              <a>KADIN POLİTİKALARI</a>
                              <a>GENÇLİK POLİTİKALARI</a>
                              <a>YEREL YÖNETİMLER</a>
                           </div>
                        </div>
                     </div>
                     <div class="line"></div>
                     <div class="banner-right-dropmenu">
                        <a class="banner link-button text">İL VE İLÇE BAŞKANLIKLARI</a>                  
                        <div class="sub-banner-drop">
                           <div class="sub-banner-drop-content">
                              <div class="sub-banner-drop-content-top d-flex">
                                 <h6 class="drop-first-title">İl Başkanlığı:</h6>
                                 <span class="subsite-selectbox-arrow"><img src="../assets/svg/arrow-down-black.svg"></span>
                                    <select class="select-control">
                                        <option value selected>Afyonkarahisar</option>
                                     </select>
                                     <button class="btn btn-secondary btn-input " type="button">SİTEYE GİT</button>
                              </div>
                              <div class="sub-banner-drop-content-bottom d-flex">
                                 <h6>İlçe Başkanlığı:</h6>
                                 <span class="subsite-selectbox-arrow"><img src="../assets/svg/arrow-down-black.svg"></span>
                                 <select class="select-control">
                                    <option value selected>Seçiniz</option>
                                 </select>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="banner-container-subsites-tablet">
                     <div class="d-flex align-items-center">
                        <a class="banner link-button text">PARTİ SİTELERİ</a>
                        <div class="banner-container-subsites-tablet-down-arrow"></div>
                        <div class="banner-container-subsites-tablet-up-arrow"></div>
                        <div class="line"></div>
                     </div>
                  </div>
               </div>
               <div class="banner-container-links">
                  <div class="line"></div>
                  <a href="#" class="banner link-button icon">
                     <img src="../assets/svg/subSiteTwitter.svg" alt="twitterIcon">
                  </a>
                  <div class="line"></div>
                  <a href="#" class="banner link-button icon">
                     <img src="../assets/svg/subSiteFacebook.svg" alt="facebookIcon">
                  </a>
                  <div class="line"></div>
                  <a href="#" class="banner link-button icon">
                     <img src="../assets/svg/subSiteInstagram.svg" alt="instagramIcon">
                  </a>
                  <div class="line"></div>
                  <a href="#" class="banner link-button icon">
                     <img src="../assets/svg/subSiteYoutube.svg" alt="youtubeIcon">
                  </a>
                  <div class="line"></div>
               </div>
            </div>
         </div>
      </div>
      <div class="red-line"></div>

      <div class="banner-cage-tablet-dropmenu-section">
         <div class="col-12 banner-cage-tablet-dropmenu">
            <div class="container">
               <div class="banner-cage-tablet-dropmenu-myk">
                  <div class="banner-cage-tablet-dropmenu-myk-content">
                     <a class="banner link-button text">MECLİS GRUBU</a>
                     <a class="banner link-button text">PARTİ ÖRGÜTÜ, ÖRGÜT YÖNETİMLERİ VE YURTDIŞI ÖRGÜTLENME</a>
                     <a class="banner link-button text">İDARİ VE MALİ İŞLER</a>
                     <a class="banner link-button text">HUKUK VE SEÇİM İŞLERİ</a>
                     <a class="banner link-button text">TANITIM HALKLA İLİŞKİLER</a>
                     <a class="banner link-button text">EKONOMİ POLİTİKALARI</a>
                     <a class="banner link-button text">İŞÇİ SENDİKALARI, ESNAF - SANATKÂR VE SİVİL TOPLUM KURULUŞLARI</a>
                     <a class="banner link-button text">SOSYAL POLİTİKALAR</a>
                     <a class="banner link-button text">BİLGİ VE İLETİŞİM TEKNOLOJİLERİ</a>
                     <a class="banner link-button text">PARTİ İÇİ EĞİTİM</a>
                     <a class="banner link-button text">KADIN KOLLARI</a>
                     <a class="banner link-button text">BİLİM, YÖNETİM KÜLTÜR PLATFORMU</a>
                     <a class="banner link-button text">EĞİTİM POLİTİKALARI</a>
                     <a class="banner link-button text">DOĞA HAKLARI - ÇEVRE</a>
                     <a class="banner link-button text">GENÇLİK KOLLARI</a>
                     <a class="banner link-button text">İNSAN HAKLARI </a>
                     <a class="banner link-button text">KADIN POLİTİKALARI</a>
                     <a class="banner link-button text">GENÇLİK POLİTİKALARI</a>
                     <a class="banner link-button text">YEREL YÖNETİMLER</a>
                  </div>
               
               </div>                 
               <div class="banner-cage-tablet-links">
                  <div class="d-flex flex-column">
                     <a class="banner link-button text banner-cage-tablet-dropmenu-item">CHP.ORG.TR</a>
                     <a class="banner link-button text banner-cage-tablet-dropmenu-item banner-cage-tablet-dropdown-myk">MYK SİTELERİ</a>
                     <a class="banner link-button text banner-cage-tablet-dropmenu-item">İL VE İLÇE BAŞKANLIKLARI</a>
                  </div>
               </div>
               <div class="banner-cage-tablet-drop">
                  <div class="banner-cage-tablet-drop-content">
                     <div class="banner-cage-tablet-drop-content-top d-flex">
                        <h6>İl Başkanlığı:</h6>
                        <span class="subsite-selectbox-arrow-tablet"><img src="../assets/svg/arrow-down-black.svg"></span>
                        <select class="select-control">
                           <option value selected>Afyonkarahisar</option>
                        </select>
                        <button class="btn btn-secondary btn-input " type="button">SİTEYE GİT</button>
                     </div>
                     <div class="banner-cage-tablet-drop-content-bottom d-flex">
                        <h6>İlçe Başkanlığı:</h6>
                        <span class="subsite-selectbox-arrow-tablet"><img src="../assets/svg/arrow-down-black.svg"></span>
                        <select class="select-control">
                           <option value selected>Seçiniz</option>
                        </select>
                     </div>
                  </div>
               </div> 
            </div>
         </div>
      </div>

   </div>
   <div class="navigation-cage">
      <div class="container">
         <div class="row">
            <div class="navigation-container d-flex">
               <div class="navigation-container-left d-flex">
                  <div class="navigation-container-left-logo">
                     <img class="navigation-icon" src="../assets/img/subSiteCHP-Dikey-Logo.png"
                     alt="headerNavigationIcon">
                  </div>
                  <div class="navigation-container-left-content">
                     <h2>İSTANBUL İL BAŞKANLIĞI</h2>
                     <div class="navigation-container-left-content-buttons">
                        <a class="navigation link-button text">ANASAYFA</a> 
                        <div class="line"></div>
   
                        <div class="navigation-dropmenu">
                           <a class="navigation link-button text management-dropdown">YÖNETİM</a>
                           <div class="sub-navigation-drop">
                              <div class="sub-navigation-dropdown d-flex flex-column">
                                 <a>İL YÖNETİMİ</a>
                                 <a>İL DİSİPLİN KURULU</a>
                                 <a>İL KADIN KOLLARI</a>
                                 <a>İL GENÇLİK KOLLARI</a>
                                 <a>İLÇE BAŞKANLARI</a>
                                 <a>MİLLETVEKİLLERİ</a>
                                 <a>BELEDİYE BAŞKANLARI</a>
                              </div>
                           </div>
                        </div>
   
                        <div class="line"></div>
                        <a class="navigation link-button text">HABERLER</a>
                        <div class="line"></div>
                        <a class="navigation link-button text">YAYINLAR</a>
                        <div class="line"></div>
                        <div class="navigation-dropmenu">
                            <a class="navigation link-button text">MEDYA</a>
                            <div class="sub-navigation-drop">
                                <div class="sub-navigation-dropdown d-flex flex-column">
                                   <a>CHP TV</a>
                                   <a>Dijital Mecmua</a>
                                </div>
                            </div>
                        </div>
                        <div class="line"></div>
                        <a class="navigation link-button text">İLETİŞİM</a>
                        <div class="line"></div>
                        <a class="navigation link-button icon">
                           <img src="../assets/svg/subSitesearch-24px.svg" alt="searchIcon">
                        </a>
                     </div>
                  </div>
               </div>
               <div class="navigation-container-right d-flex">
                  <img src="../assets/img/subSiteMustafaKemalAtaturk-1.png" alt="Ataturk">
                  <img src="../assets/img/subSiteKilicdaroglu.png" alt="Kilicdaroglu">
                  <div class="navigation-container-right-navbar"></div>
                  <div class="navigation-container-right-close"></div>
               </div>
            </div>
         </div>
      </div>
      <div class="navigation-cage-mobile">
         <div class="container">
            <div class="row">
               <div class="navigation-cage-mobile-main">
                  <div class="d-flex flex-column">
                     <a href="#">ANASAYFA</a>
                     <a class="navigation-cage-mobile-main-dropmenu" href="#">YÖNETİM</a>
                     <a href="#">HABERLER</a>
                     <a href="#">YAYINLAR</a>
                     <a class="navigation-cage-mobile-media-dropmenu" href="#">MEDYA</a>
                     <a href="#">İLETİŞİM</a>
                     <span class="navigation-cage-mobile-main-icon"><img
                        src="../assets/svg/subsite-search-icon.svg">
                     </span>
                     <input type="text" placeholder="Ara">
                  </div>
               </div>
               <div class="navigation-cage-mobile-managementcage">
                  <div class="d-flex flex-column">
                     <a href="#">İL YÖNETİMİ</a>
                     <a href="#">İL DİSİPLİN KURULU</a>
                     <a href="#">İL KADIN KOLLARI</a>
                     <a href="#">İL GENÇLİK KOLLARI</a>
                     <a href="#">İLÇE BAŞKANLARI</a>
                     <a href="#">MİLLETVEKİLLERİ</a>
                     <a href="#">BELEDİYE BAŞKANLARI</a>
                  </div>
               </div>
               <div class="navigation-cage-mobile-mediacage">
                <div class="d-flex flex-column">
                   <a href="#">CHP TV</a>
                   <a href="#">Dijital Mecmua</a>
                </div>
             </div>
            </div>
         </div>
      </div>
   </div>
</header>
   
{% block page_content %}
    
{% endblock %}


<footer>
   <div class="col-lg-12 footer-cage d-flex align-items-center">
      <div class="container">
         <div class="footer-cage-content">
            <div class="footer-logo">
               <img src="../assets/img/subSiteFooter.png" alt="FooterLogo">
            </div>
            <div class="footer-text m-4">
               <p>© 2020 Tüm Hakları Saklıdır.</p>
            </div>
         </div>
      </div>
   </div>
</footer>


{% endblock %}