{% extends "SubSiteBase.html" %}

{% block title %}
CHP Sub Site
{% endblock %}


{% block page_content %}
   {% include "components/subSiteSlider.html" %}
   {% include "components/subSiteInvitation.html" %}

<div class="container">
    <div class="row">
        <div class="col-lg-9">
            {% include "components/Gundem.html" %}
        </div>
        <div class="col-lg-3">
            {% include "components/subSiteTwitter.html" %}
        </div>
    </div>
</div>

{% include "components/subSiteSubscription.html" %}
{% endblock %}
