{% extends "Base.html" %}

{% block title %}
CHP TV
{% endblock %}


{% block page_content %}
{% include "components/Chp-Tv-Title.html" %}
{% include "components/Chp-Tv-Live.html" %}
   {% include "components/Chp-Tv.html" %}
   {% include "components/Chp-Tv-Soft.html" %}
   {% include "components/Chp-Tv.html" %}
   {% include "components/Chp-Tv-Soft.html" %}
   {% include "components/Chp-Tv.html" %}
   {% include "components/Chp-Tv-Soft.html" %}
   {% include "components/Chp-Tv.html" %}
   {% include "components/Chp-Tv-Soft.html" %}
   {% include "components/Newsletter-Subscription.html" %}
{% endblock %}