<div class="chp-volunteer">
  <div class="container">
    <div class="chp-volunteer-border">
      <div class="row">
        <form class="col-lg-8 chp-volunteer-form">
          <div class="row">
            <div class="col-lg-6">
              <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">T.C. Kimlik No (*)</label>
                <input type="number" class="form-control" required id="exampleFormControlInput1"
                  placeholder="T.C. Kimlik No">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <div class="mb-3">
                <label for="exampleFormControlInput2" class="form-label">Ad (*)</label>
                <input type="text" class="form-control" required id="exampleFormControlInput2" placeholder="Ad">
              </div>
            </div>
            <div class="col-lg-6">
              <div class="mb-3">
                <label for="exampleFormControlInput3" class="form-label">Soyadı (*)</label>
                <input type="text" class="form-control" required id="exampleFormControlInput3" placeholder="Soyadı">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <div class="mb-3">
                <label for="exampleFormControlInput4" class="form-label">Doğum Tarihi (*)</label>
                <input type="text" class="form-control" placeholder="Doğum Tarihi" onfocus="(this.type='date')" required
                  id="exampleFormControlInput4">
              </div>
            </div>
            <div class="col-lg-6">
              <label for="exampleFormControlInput5" class="form-label">Cinsiyet</label>
              <div class="d-flex">
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                  <label class="form-check-label" for="flexRadioDefault1">
                    Kadın
                  </label>
                </div>
                <div class="form-check right-check">
                  <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                  <label class="form-check-label" for="flexRadioDefault2">
                    Erkek
                  </label>
                </div>
              </div>

            </div>

          </div>
          <div class="row">
            <div class="col-lg-6">
              <div class="chp-volunteer-select">
                <label for="exampleFormControlInput6" class="form-label">Bölge (*)</label>
                <span class="selectbox-arrow"><img src="../assets/svg/arrow-down-black.svg"></span>
                <select class="select-control">
                  <option value="" disabled selected>Şehir seçiniz</option>
                  <option value="1">İZMİR</option>
                  <option value="1">MANİSA</option>
                </select>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="chp-volunteer-select">
                <label for="exampleFormControlInput7" class="form-label">İl (*)</label>
                <span class="selectbox-arrow"><img src="../assets/svg/arrow-down-black.svg"></span>
                <select class="select-control">
                  <option value="" disabled selected>Şehir seçiniz</option>
                  <option value="1">İZMİR</option>
                  <option value="1">MANİSA</option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <div class="mb-3">
                <label for="exampleFormControlInput8" class="form-label">Telefon (*)</label>
                <input type="tel" class="form-control" required id="exampleFormControlInput8"
                  placeholder="Telefon">
              </div>
            </div>
            <div class="col-lg-6">
              <div class="mb-3">
                <label for="exampleFormControlInput9" class="form-label">E-Posta Adresi (*)</label>
                <input type="email" class="form-control" required id="exampleFormControlInput9"
                  placeholder="E-Posta">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <div class="mb-3">
                <label for="exampleFormControlInput10" class="form-label">Öğrenim Durumu</label>
                <input type="text" class="form-control" required id="exampleFormControlInput10"
                  placeholder="Öğrenim Durumu">
              </div>
            </div>
            <div class="col-lg-6">
              <div class="mb-3">
                <label for="exampleFormControlInput11" class="form-label">Meslek</label>
                <input type="text" class="form-control" required id="exampleFormControlInput11"
                  placeholder="Meslek">
              </div>
            </div>
          </div>
          <div class="mb-3">
            <label for="exampleFormControlTextarea12" class="form-label">Notlar</label>
            <textarea class="form-control" id="exampleFormControlTextarea12" rows="3" placeholder="Notlar"></textarea>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
              CHP tarafından gönderilecek E-Posta iletilerini almayı kabul ediyorum.
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault2">
            <label class="form-check-label" for="flexCheckDefault2">
              CHP tarafından gönderilecek SMS iletilerini almayı kabul ediyorum.
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault3">
            <label class="form-check-label" for="flexCheckDefault3">
              KVKK aydınlatma metnini okudum, anladım, onaylıyorum.
            </label>
          </div>
          <div class="chp-volunteer-form-btn">
            <button class="btn btn-secondary">KAYDET</button>
          </div>

        </form>
        <div class="col-lg-4">
          <div class="chp-volunteer-right">
            <img src="../assets/img/gonullu.jpg">
            <div class="chp-volunteer-right-content">
              <h2>CHP GÖNÜLLÜLERİ HAKKINDA</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus malesuada, dui et accumsan fermentum,
                odio felis lacinia enim, a aliquet dui felis a tellus. Morbi a justo ut quam posuere pharetra. In
                malesuada tellus mi, volutpat tempus nisi maximus eu. Aenean placerat a orci sit amet luctus. Aliquam
                erat volutpat. Duis aliquet ex non ultrices vestibulum. Interdum et malesuada fames ac ante ipsum primis
                in faucibus. Proin sollicitudin elementum lacus. </p>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>