<div class="chp-tv-page-title ">
    <div class="container ">
        <div class="chp-tv-page-title-border">
            <div class="chp-tv-page-title-content">
                <h1 class="chp-tv-title main ps-3 ">CHP TV</h1>
                <ul class="chp-tv-page-title-option">
                    <li class="chp-tv-page-title-option-category">
                        <p>Tüm Kategoriler</p>
                        <span class="ms-2 option-icon-light"><img src="../assets/svg/expand-more-blue.svg"></span>
                        <!--<span class="ms-2 option-icon-light"><img src="../assets/svg/expand-more-blue.svg"></span>-->
                        <span class="option-icon-dark ms-2"><img src="../assets/svg/arrow-down-red.svg"></span>
                    <ul class="chp-tv-page-title-option-list">
                        <li><a href="#"> Kategori 1</a></li>
                        <li><a href="#"> Kategori 2</a></li>
                        <li><a href="#"> Kategori 2</a></li>
                        <li><a href="#"> Kategori 2</a></li>
                        <li><a href="#"> Kategori 2</a></li>
                        <li><a href="#"> Kategori 2</a></li>
                        <li><a href="#"> Kategori 2</a></li>
                        <li><a href="#"> Kategori 2</a></li>
                        <li><a href="#"> Kategori 2</a></li>
                        <li><a href="#"> Kategori 2</a></li>
                        <li><a href="#"> Kategori 2</a></li>
                    </ul>
                </li>
                 </ul>
            </div>
        </div>
    </div>
</div>