<div class="chp-tv-page-live">
    <div class="container">
        <div class="chp-tv-page-live-content">
            <div class="chp-tv-page-live-content-text">
                <span class="chp-tv-page-live-content-circle"></span>
                <div class="chp-tv-page-live-content-text-live">CANLI</div>
                <div class="chp-tv-page-live-content-info">
                    <h4 class="chp-tv-page-left-box-title">TBMM CHP Grup Toplantısı</h4>
                    <p class="date effect mt-3">28.06.2020</p>
                </div>
            </div>
            <div class="chp-tv-page-live-content-live">
                <div class="container">
                    <img src="../assets/img/chp-tv/Chplive.png">
                </div>
            </div>
        </div>
    </div>
   
</div>