<div class="chp-tv-page-video">
    <div class="container">
        <div class="chp-tv-page-video-wrapper ">
           
                <iframe class="chp-tv-page-video-detail" src="https://www.youtube.com/embed/xvN3ZqS0cdg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <div class="chp-tv-page-video-content">
                <div>
                    <h2>Adalet Yürüyüşü 3 Yaşında!</h2>
                    <p>Kimse bu yürüyüşün bir son olduğunu düşünmesin, bu yürüyüş bizim ilk adımımızdır.
                        #AdaletYürüyüşü3Yaşında
                    </p>
                </div>

                <div class="chp-tv-page-video-share">
                    <p>Paylaş:</p>
                    <div class="chp-tv-page-video-share-icon">
                        <span class="icon-box"><a href="#"><img src="../assets/svg/twitter-white.svg"></a></span>
                        <span class="icon-box ms-3"><a href="#"><img src="../assets/svg/facebook-white.svg"></a></span>
                        <span class="icon-box ms-3"><a href="#"><img src="../assets/svg/mail-white.svg"></a></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>