<div class="chp-tv-page">
    <div class="container">
        <div class="chp-tv-page-border ">
            <div class="row chp-tv-page-mobile">
                <div class="col-lg-3 ">
                    <div class="chp-tv-page-left-box">
                        <div class="chp-tv-page-left-box-mobile">
                            <h4 class="chp-tv-page-left-box-title">Grup
                                Toplantıları</h4>
                            <p class="newsletter-subscription-subsites-title video-count">23 VİDEO</p>
                        </div> 
                        <div class="chp-tv-page-arrow">
                            <p class="newsletter-subscription-subsites-title video-count-lg">23 VİDEO</p>
                                <a class="chp-tv-page-show-videos" href="#">
                                    <p>Tümünü görüntüle</p>
                                    <span class="ms-3"><img src="../assets/svg/arrow.svg"></span>
                                </a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-9">
                    <div class="scheduler-col is-right-soft">
                        <div class="chp-tv-page-area">
                        <div class="owl-carousel owl-theme chpTvSoftCarousel">
                            <a href="#" class="item">
                                <img class="chp-tv-page-image" src="../assets/img/chp-tv/OzgurOzel.png">
                                <span class="item-play-icon"><img src="../assets/svg/sharp-play.svg"></span>
                                <span class="chp-tv-hour">
                                    <p class="chp-tv-hour-text">13:00</p>
                                </span>
                                <div class="chp-tv-right-side-time">
                                    <p class="date effect">22 Eylül 2020</p>                       
                                        <h4>Özgür Özel Basın Toplantısı</h4>
                                </div>
                            </a>
    
                            <a href="#" class="item">
                                <img class="chp-tv-page-image" src="../assets/img/chp-tv/OzgurOzel.png">
                                <span class="item-play-icon"><img src="../assets/svg/sharp-play.svg"></span>
                                <span class="chp-tv-hour">
                                    <p class="chp-tv-hour-text">13:00</p>
                                </span>
                                <div class="chp-tv-right-side-time">
                                    <p class="date effect">22 Eylül 2020</p>                       
                                        <h4>Özgür Özel Basın Toplantısı</h4>
                                </div>
                            </a>
                            <a href="#" class="item">
                                <img class="chp-tv-page-image" src="../assets/img/chp-tv/OzgurOzel.png">
                                <span class="item-play-icon"><img src="../assets/svg/sharp-play.svg"></span>
                                <span class="chp-tv-hour">
                                    <p class="chp-tv-hour-text">13:00</p>
                                </span>
                                <div class="chp-tv-right-side-time">
                                    <p class="date effect">22 Eylül 2020</p>                       
                                        <h4>Özgür Özel Basın Toplantısı</h4>
                                </div>
                            </a>
                            <a href="#" class="item">
                                <img class="chp-tv-page-image" src="../assets/img/chp-tv/OzgurOzel.png">
                                <span class="item-play-icon"><img src="../assets/svg/sharp-play.svg"></span>
                                <span class="chp-tv-hour">
                                    <p class="chp-tv-hour-text">13:00</p>
                                </span>
                                <div class="chp-tv-right-side-time">
                                    <p class="date effect">22 Eylül 2020</p>                       
                                        <h4>Özgür Özel Basın Toplantısı</h4>
                                </div>
                            </a>
                            <a href="#" class="item">
                                <img class="chp-tv-page-image" src="../assets/img/chp-tv/OzgurOzel.png">
                                <span class="item-play-icon"><img src="../assets/svg/sharp-play.svg"></span>
                                <span class="chp-tv-hour">
                                    <p class="chp-tv-hour-text">13:00</p>
                                </span>
                                <div class="chp-tv-right-side-time">
                                    <p class="date effect">22 Eylül 2020</p>                       
                                        <h4>Özgür Özel Basın Toplantısı</h4>
                                </div>
                            </a>
                            <a href="#" class="item">
                                <img class="chp-tv-page-image" src="../assets/img/chp-tv/OzgurOzel.png">
                                <span class="item-play-icon"><img src="../assets/svg/sharp-play.svg"></span>
                                <span class="chp-tv-hour">
                                    <p class="chp-tv-hour-text">13:00</p>
                                </span>
                                <div class="chp-tv-right-side-time">
                                    <p class="date effect">22 Eylül 2020</p>                       
                                        <h4>Özgür Özel Basın Toplantısı</h4>
                                </div>
                            </a>
                            <a href="#" class="item">
                                <img class="chp-tv-page-image" src="../assets/img/chp-tv/OzgurOzel.png">
                                <span class="item-play-icon"><img src="../assets/svg/sharp-play.svg"></span>
                                <span class="chp-tv-hour">
                                    <p class="chp-tv-hour-text">13:00</p>
                                </span>
                                <div class="chp-tv-right-side-time">
                                    <p class="date effect">22 Eylül 2020</p>                       
                                        <h4>Özgür Özel Basın Toplantısı</h4>
                                </div>
                            </a>
                            <a href="#" class="item">
                                <img class="chp-tv-page-image" src="../assets/img/chp-tv/OzgurOzel.png">
                                <span class="item-play-icon"><img src="../assets/svg/sharp-play.svg"></span>
                                <span class="chp-tv-hour">
                                    <p class="chp-tv-hour-text">13:00</p>
                                </span>
                                <div class="chp-tv-right-side-time">
                                    <p class="date effect">22 Eylül 2020</p>                       
                                        <h4>Özgür Özel Basın Toplantısı</h4>
                                </div>
                            </a>
                        </div>
                        <div class="chp-tv-nav">
                            <button  type="button" role="presentation" class="PrevBtn chp-tv-page-slider-icon">
                                <img src="../assets/svg/arrow_back_ios-24px.svg">
                            </button>
                            <button type="button" role="presentation" class="NextBtn chp-tv-page-slider-icon">
                                <img src="../assets/svg/arrow_forward_ios-24px.svg">
                            </button>
                        </div>
                    </div>
                </div>
               
            </div>
            </div>
        </div>
    </div>
</div>