<div class="chp-tv-page">
    <div class="container">
        <div class="chp-tv-page-border">
            <div class="row chp-tv-page-mobile">
                <div class="col-lg-3 ">
                    <div class="chp-tv-page-left-box">
                        <h4 class="chp-tv-page-left-box-title">Son Eklenen
                            Videolar</h4>
                            <a class="chp-tv-page-show-videos" href="#">
                                <p>Tümünü görüntüle</p>
                                <span class="ms-3"><img src="../assets/svg/arrow.svg"></span>
                            </a>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="scheduler-col is-right">
                        <div class="chp-tv-page-area">
                            <div class="owl-carousel owl-theme chpTvCarousel">
                                <a href="#" class="item">
                                    <img class="chp-tv-page-image" src="../assets/img/chp-tv/OzgurOzel.png">
                                    <span class="item-play-icon"><img src="../assets/svg/sharp-play.svg"></span>
                                    <span class="chp-tv-hour">
                                        <p class="chp-tv-hour-text">13:00</p>
                                    </span>
                                    <div class="chp-tv-right-side-time">
                                        <p class="date effect">22 Eylül 2020</p>                       
                                            <h4>Özgür Özel Basın Toplantısı</h4>
                                    </div>
                                </a>

                                <a href="#" class="item">
                                    <img class="chp-tv-page-image" src="../assets/img/chp-tv/OzgurOzel.png">
                                    <span class="item-play-icon"><img src="../assets/svg/sharp-play.svg"></span>
                                    <span class="chp-tv-hour">
                                        <p class="chp-tv-hour-text">13:00</p>
                                    </span>
                                    <div class="chp-tv-right-side-time">
                                        <p class="date effect">22 Eylül 2020</p>                       
                                            <h4>Özgür Özel Basın Toplantısı</h4>
                                    </div>
                                </a>
                                <a href="#" class="item">
                                    <img class="chp-tv-page-image" src="../assets/img/chp-tv/OzgurOzel.png">
                                    <span class="item-play-icon"><img src="../assets/svg/sharp-play.svg"></span>
                                    <span class="chp-tv-hour">
                                        <p class="chp-tv-hour-text">13:00</p>
                                    </span>
                                    <div class="chp-tv-right-side-time">
                                        <p class="date effect">22 Eylül 2020</p>                       
                                            <h4>Özgür Özel Basın Toplantısı</h4>
                                    </div>
                                </a>
                                <a href="#" class="item">
                                    <img class="chp-tv-page-image" src="../assets/img/chp-tv/OzgurOzel.png">
                                    <span class="item-play-icon"><img src="../assets/svg/sharp-play.svg"></span>
                                    <span class="chp-tv-hour">
                                        <p class="chp-tv-hour-text">13:00</p>
                                    </span>
                                    <div class="chp-tv-right-side-time">
                                        <p class="date effect">22 Eylül 2020</p>                       
                                            <h4>Özgür Özel Basın Toplantısı</h4>
                                    </div>
                                </a>
                                <a href="#" class="item">
                                    <img class="chp-tv-page-image" src="../assets/img/chp-tv/OzgurOzel.png">
                                    <span class="item-play-icon"><img src="../assets/svg/sharp-play.svg"></span>
                                    <span class="chp-tv-hour">
                                        <p class="chp-tv-hour-text">13:00</p>
                                    </span>
                                    <div class="chp-tv-right-side-time">
                                        <p class="date effect">22 Eylül 2020</p>                       
                                            <h4>Özgür Özel Basın Toplantısı</h4>
                                    </div>
                                </a>
                                <a href="#" class="item">
                                    <img class="chp-tv-page-image" src="../assets/img/chp-tv/OzgurOzel.png">
                                    <span class="item-play-icon"><img src="../assets/svg/sharp-play.svg"></span>
                                    <span class="chp-tv-hour">
                                        <p class="chp-tv-hour-text">13:00</p>
                                    </span>
                                    <div class="chp-tv-right-side-time">
                                        <p class="date effect">22 Eylül 2020</p>                       
                                            <h4>Özgür Özel Basın Toplantısı</h4>
                                    </div>
                                </a>
                                <a href="#" class="item">
                                    <img class="chp-tv-page-image" src="../assets/img/chp-tv/OzgurOzel.png">
                                    <span class="item-play-icon"><img src="../assets/svg/sharp-play.svg"></span>
                                    <span class="chp-tv-hour">
                                        <p class="chp-tv-hour-text">13:00</p>
                                    </span>
                                    <div class="chp-tv-right-side-time">
                                        <p class="date effect">22 Eylül 2020</p>                       
                                            <h4>Özgür Özel Basın Toplantısı</h4>
                                    </div>
                                </a>
                                <a href="#" class="item">
                                    <img class="chp-tv-page-image" src="../assets/img/chp-tv/OzgurOzel.png">
                                    <span class="item-play-icon"><img src="../assets/svg/sharp-play.svg"></span>
                                    <span class="chp-tv-hour">
                                        <p class="chp-tv-hour-text">13:00</p>
                                    </span>
                                    <div class="chp-tv-right-side-time">
                                        <p class="date effect">22 Eylül 2020</p>                       
                                            <h4>Özgür Özel Basın Toplantısı</h4>
                                    </div>
                                </a>
                            </div>
                            <div class="chp-tv-nav">
                                <button  type="button" role="presentation" class="customPrevBtn chp-tv-page-slider-icon">
                                    <img src="../assets/svg/arrow_back_ios-24px.svg">
                                </button>
                                <button type="button" role="presentation" class="customNextBtn chp-tv-page-slider-icon">
                                    <img src="../assets/svg/arrow_forward_ios-24px.svg">
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>