<div class="chp-tv-page-sub">
  <div class="container">
      <div class="row">
        <a href="#" class="col-lg-3 col-sm-6">
            <div class="chp-tv-page-boxes">
                <img class="chp-tv-page-image" src="../assets/img/chp-tv/OzgurOzel.png">
                <span class="item-play-icon"><img src="../assets/svg/sharp-play.svg"></span>
                <span class="chp-tv-hour">
                    <p class="chp-tv-hour-text">13:00</p>
                </span>
                <div class="chp-tv-right-side-time">
                    <p class="date effect">22 Eylül 2020</p>
                        <h4>Özgür Özel Basın Toplantısı</h4>
                </div>
            </div>
          </a>
        <a href="#" class="col-lg-3 col-sm-6">
            <div class="chp-tv-page-boxes">
                <img class="chp-tv-page-image" src="../assets/img/chp-tv/OzgurOzel.png">
                <span class="item-play-icon"><img src="../assets/svg/sharp-play.svg"></span>
                <span class="chp-tv-hour">
                    <p class="chp-tv-hour-text">13:00</p>
                </span>
                <div class="chp-tv-right-side-time">
                    <p class="date effect">22 Eylül 2020</p>
                        <h4>Özgür Özel Basın Toplantısı</h4>
                </div>
            </div>
          </a>
        <a href="#" class="col-lg-3 col-sm-6">
            <div class="chp-tv-page-boxes">
                <img class="chp-tv-page-image" src="../assets/img/chp-tv/OzgurOzel.png">
                <span class="item-play-icon"><img src="../assets/svg/sharp-play.svg"></span>
                <span class="chp-tv-hour">
                    <p class="chp-tv-hour-text">13:00</p>
                </span>
                <div class="chp-tv-right-side-time">
                    <p class="date effect">22 Eylül 2020</p>
                        <h4>Özgür Özel Basın Toplantısı</h4>
                </div>
            </div>
          </a>
        <a href="#" class="col-lg-3 col-sm-6">
            <div class="chp-tv-page-boxes">
                <img class="chp-tv-page-image" src="../assets/img/chp-tv/OzgurOzel.png">
                <span class="item-play-icon"><img src="../assets/svg/sharp-play.svg"></span>
                <span class="chp-tv-hour">
                    <p class="chp-tv-hour-text">13:00</p>
                </span>
                <div class="chp-tv-right-side-time">
                    <p class="date effect">22 Eylül 2020</p>
                        <h4>Özgür Özel Basın Toplantısı</h4>
                </div>
            </div>
          </a>
      </div>
    
  </div>
</div>