<div class="container">
    <div class="row">
        <div class="col-lg-6 col-sm-12 chp-be-member-left">
            <div class="chp-be-member-left-content">
                <h2 class="chp-be-member-left-content-title">CHP Üyesi Olun</h2>
                <p class="chp-be-member-left-content-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ultricies dictum justo non tempor. Suspendisse suscipit suscipit eros, eleifend vulputate orci fermentum at. </p>
                <a href="#"><button class="chp-be-member-left-content-btn">DAHA FAZLA BİLGİ ALIN</button></a>
            </div>
        </div>
        <div class="col-lg-6 col-sm-12 chp-be-member-right">
            <div class="chp-be-member-right-content">
                <h2 class="chp-be-member-left-content-title">CHP Gönüllüsü Olun</h2>
                <p class="chp-be-member-left-content-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ultricies dictum justo non tempor. Suspendisse suscipit suscipit eros, eleifend vulputate orci fermentum at. </p>
                <a href="#"><button class="chp-be-member-left-content-btn">DAHA FAZLA BİLGİ ALIN</button></a>
            </div>
        </div>
    </div>
</div>