<div class="chp-calendar">
    <div class="container">
        <div class="text-center">
            <h2 class="chp-calendar-title">PROGRAM</h2>
        </div>
        <div class="row">
            <div class="col-lg-10 mx-auto chp-calendar-position">
                <div id="carouselCalendar" class="owl-carousel owl-theme ">
                    <div class="item chp-calendar-box">
                        <div class="d-flex ">
                            <div class="chp-calendar-box-vertical"></div>
                            <div class="chp-calendar-box-first d-flex flex-column align-items-center">
                                <p class="chp-calendar-box-vertical-month">AĞU</p>
                                <h2 class="chp-calendar-box-vertical-date">08</h2>
                                <p class="chp-calendar-box-vertical-day">PTS</p>
                            </div>
                        </div>
                        <div class="chp-calendar-box-horizontal">
                        </div>
                    </div>
                    <div class="item chp-calendar-box">
                        <div class="d-flex flex-column align-items-center">
                            <p class="chp-calendar-box-vertical-month">AĞU</p>
                            <h2 class="chp-calendar-box-vertical-date">09</h2>
                            <p class="chp-calendar-box-vertical-day">PTS</p>
                        </div>

                        <div class="chp-calendar-box-horizontal">
                        </div>
                    </div>
                    <div class="item chp-calendar-box">
                        <div class="d-flex flex-column align-items-center">
                            <p class="chp-calendar-box-vertical-month">AĞU</p>
                            <h2 class="chp-calendar-box-vertical-date">10</h2>
                            <p class="chp-calendar-box-vertical-day">PTS</p>
                        </div>
                        <div class="chp-calendar-box-horizontal">
                        </div>
                    </div>
                    <div class="item chp-calendar-box color-box">
                        <div class="d-flex flex-column align-items-center">
                            <p class="chp-calendar-box-vertical-month color-month">AĞU</p>
                            <h2 class="chp-calendar-box-vertical-date color-date">11</h2>
                            <p class="chp-calendar-box-vertical-day color-day">PTS</p>
                        </div>
                        <div class="chp-calendar-box-horizontal color-horizontal">
                        </div>
                    </div>
                    <div class="item chp-calendar-box">
                        <div class="d-flex flex-column align-items-center">
                            <p class="chp-calendar-box-vertical-month">AĞU</p>
                            <h2 class="chp-calendar-box-vertical-date">12</h2>
                            <p class="chp-calendar-box-vertical-day">PTS</p>
                        </div>
                        <div class="chp-calendar-box-horizontal">
                        </div>
                    </div>
                    <div class="item chp-calendar-box">
                        <div class="d-flex flex-column align-items-center">
                            <p class="chp-calendar-box-vertical-month">AĞU</p>
                            <h2 class="chp-calendar-box-vertical-date">13</h2>
                            <p class="chp-calendar-box-vertical-day">PTS</p>
                        </div>
                        <div class="chp-calendar-box-horizontal">
                        </div>
                    </div>
                    <div class="item chp-calendar-box">
                        <div class="d-flex flex-column align-items-center">
                            <p class="chp-calendar-box-vertical-month">AĞU</p>
                            <h2 class="chp-calendar-box-vertical-date">14</h2>
                            <p class="chp-calendar-box-vertical-day">PTS</p>
                        </div>
                        <div class="chp-calendar-box-horizontal">
                        </div>
                    </div>
                    <div class="item chp-calendar-box">
                        <div class="d-flex flex-column align-items-center">
                            <p class="chp-calendar-box-vertical-month">AĞU</p>
                            <h2 class="chp-calendar-box-vertical-date">15</h2>
                            <p class="chp-calendar-box-vertical-day">PTS</p>
                        </div>
                        <div class="chp-calendar-box-horizontal">
                        </div>
                    </div>

                    <div class="item chp-calendar-box">
                        <div class="d-flex">
                            <div class="chp-calendar-box-last d-flex flex-column align-items-center">
                                <p class="chp-calendar-box-vertical-month">AĞU</p>
                                <h2 class="chp-calendar-box-vertical-date">16</h2>
                                <p class="chp-calendar-box-vertical-day">PTS</p>
                            </div>

                        </div>
                        <div class="chp-calendar-box-horizontal">
                        </div>

                    </div>
                    <div class="item chp-calendar-box">
                        <div class="d-flex">
                            <div class="chp-calendar-box-last d-flex flex-column align-items-center">
                                <p class="chp-calendar-box-vertical-month">AĞU</p>
                                <h2 class="chp-calendar-box-vertical-date">16</h2>
                                <p class="chp-calendar-box-vertical-day">PTS</p>
                            </div>

                        </div>
                        <div class="chp-calendar-box-horizontal">
                        </div>

                    </div>
                    <div class="item chp-calendar-box">
                        <div class="d-flex">
                            <div class="chp-calendar-box-last d-flex flex-column align-items-center">
                                <p class="chp-calendar-box-vertical-month">AĞU</p>
                                <h2 class="chp-calendar-box-vertical-date">16</h2>
                                <p class="chp-calendar-box-vertical-day">PTS</p>
                            </div>

                        </div>
                        <div class="chp-calendar-box-horizontal">
                        </div>

                    </div>
                    <div class="item chp-calendar-box">
                        <div class="d-flex">
                            <div class="chp-calendar-box-last d-flex flex-column align-items-center">
                                <p class="chp-calendar-box-vertical-month">AĞU</p>
                                <h2 class="chp-calendar-box-vertical-date">16</h2>
                                <p class="chp-calendar-box-vertical-day">PTS</p>
                            </div>

                        </div>
                        <div class="chp-calendar-box-horizontal">
                        </div>

                    </div>
                    <div class="item chp-calendar-box">
                        <div class="d-flex">
                            <div class="chp-calendar-box-last d-flex flex-column align-items-center">
                                <p class="chp-calendar-box-vertical-month">AĞU</p>
                                <h2 class="chp-calendar-box-vertical-date">16</h2>
                                <p class="chp-calendar-box-vertical-day">PTS</p>
                            </div>

                        </div>
                        <div class="chp-calendar-box-horizontal">
                        </div>

                    </div>
                    <div class="item chp-calendar-box">
                        <div class="d-flex">
                            <div class="chp-calendar-box-last d-flex flex-column align-items-center">
                                <p class="chp-calendar-box-vertical-month">AĞU</p>
                                <h2 class="chp-calendar-box-vertical-date">16</h2>
                                <p class="chp-calendar-box-vertical-day">PTS</p>
                            </div>
                        </div>
                        <div class="chp-calendar-box-horizontal">
                        </div>

                    </div>
                    <div class="item chp-calendar-box">
                        <div class="d-flex">
                            <div class="chp-calendar-box-last d-flex flex-column align-items-center">
                                <p class="chp-calendar-box-vertical-month">AĞU</p>
                                <h2 class="chp-calendar-box-vertical-date">16</h2>
                                <p class="chp-calendar-box-vertical-day">PTS</p>
                            </div>
                        </div>
                        <div class="chp-calendar-box-horizontal">
                        </div>

                    </div>
                    <div class="item chp-calendar-box">
                        <div class="d-flex">
                            <div class="chp-calendar-box-last d-flex flex-column align-items-center">
                                <p class="chp-calendar-box-vertical-month">AĞU</p>
                                <h2 class="chp-calendar-box-vertical-date">16</h2>
                                <p class="chp-calendar-box-vertical-day">PTS</p>
                            </div>
                        </div>
                        <div class="chp-calendar-box-horizontal">
                        </div>

                    </div>
                    <div class="item chp-calendar-box">
                        <div class="d-flex">
                            <div class="chp-calendar-box-last d-flex flex-column align-items-center">
                                <p class="chp-calendar-box-vertical-month">AĞU</p>
                                <h2 class="chp-calendar-box-vertical-date">16</h2>
                                <p class="chp-calendar-box-vertical-day">PTS</p>
                            </div>
                        </div>
                        <div class="chp-calendar-box-horizontal">
                        </div>

                    </div>
                    <div class="item chp-calendar-box">
                        <div class="d-flex">
                            <div class="chp-calendar-box-last d-flex flex-column align-items-center">
                                <p class="chp-calendar-box-vertical-month">AĞU</p>
                                <h2 class="chp-calendar-box-vertical-date">16</h2>
                                <p class="chp-calendar-box-vertical-day">PTS</p>
                            </div>

                        </div>
                        <div class="chp-calendar-box-horizontal">
                        </div>

                    </div>
                </div>
                <div class="chp-calendar-nav">
                    <div class="chp-calendar-box-vertical">
                    </div>
                    <button type="button" role="presentation" class="customPrevBtn chp-calendar-slider-icon">
                        <img src="../assets/svg/arrow_back_ios-24px.svg">
                    </button>
                    <button type="button" role="presentation" class="customNextBtn chp-calendar-slider-icon">
                        <img src="../assets/svg/arrow_forward_ios-24px.svg">
                    </button>
                </div>
            </div>
        </div>



    </div>
</div>
<div class="chp-program">
    <div class="chp-program-box">
        <div class="container">
            <div class="chp-program-line col-lg-12 mx-auto d-flex">
                <div class="chp-program-hour">
                    <h4>12:00</h4>
                </div>
                <div class="chp-program-content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas bibendum quam sed fermentum
                        commodo. Sed tincidunt in velit sed scelerisque. </p>
                </div>
            </div>
        </div>
    </div>
    <div class="chp-program-box">
        <div class="container">
            <div class="chp-program-line col-lg-12 mx-auto d-flex">
                <div class="chp-program-hour">
                    <h4>12:00</h4>
                </div>
                <div class="chp-program-content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas bibendum quam sed fermentum
                        commodo. Sed tincidunt in velit sed scelerisque. </p>
                </div>
            </div>
        </div>
    </div>
    <div class="chp-program-box">
        <div class="container">
            <div class="chp-program-line col-lg-12 mx-auto d-flex">
                <div class="chp-program-hour">
                    <h4>12:00</h4>
                </div>
                <div class="chp-program-content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas bibendum quam sed fermentum
                        commodo. Sed tincidunt in velit sed scelerisque.Lorem ipsum dolor sit amet, consectetur
                        adipiscing elit. Maecenas bibendum quam sed fermentum
                        commodo. Sed tincidunt in velit sed scelerisque. </p>
                </div>
            </div>
        </div>
    </div>
    <div class="chp-program-box">
        <div class="container">
            <div class="chp-program-line col-lg-12 mx-auto d-flex">
                <div class="chp-program-hour">
                    <h4>12:00</h4>
                </div>
                <div class="chp-program-content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas bibendum quam sed fermentum
                        commodo. Sed tincidunt in velit sed scelerisque. </p>
                </div>
            </div>
        </div>
    </div>
</div>