<div class="chp-articles ">
    <div class="container">
            <h1 class="chp-articles-title">CHP NE DİYOR?</h1>
            <div class="row chp-suggestion-box">
                <a href="#" class="col-lg-3 col-sm-6 chp-articles-box">
                    <div class="chp-articles-box-category">
                        <h3 class="chp-suggestion-category">OKUL</h3>
                    </div>
                    <div class="d-flex flex-column">
                        <p class="chp-suggestion-category-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ullamcorper sem est, a accumsan lacus accumsan at. Vestibulum nec elit felis. Duis dictum ac lectus vel luctus.</p>
                        <div class="d-flex chp-suggestion-content align-items-center">
                            <div class="chp-suggestion-link"><p>GÖRÜŞLERİNİZİ PAYLAŞIN</p> 
                                <img class="ms-3" src="../assets/svg/news-arrow.svg"></div>
                        </div>
                    </div>
                </a>
                <a href="#" class="col-lg-3 col-sm-6 chp-articles-box">
                    <div class="chp-articles-box-category">
                        <h3 class="chp-suggestion-category">ÜNİVERSİTE</h3>
                    </div>

                    <div class="d-flex flex-column">
                        <p class="chp-suggestion-category-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ullamcorper sem est, a accumsan lacus accumsan at. Vestibulum nec elit felis. Duis dictum ac lectus vel luctus.</p>
                        <div class="d-flex chp-suggestion-content align-items-center">
                            <div class="chp-suggestion-link"><p>GÖRÜŞLERİNİZİ PAYLAŞIN</p> 
                                <img class="ms-3" src="../assets/svg/news-arrow.svg">
                            </div>
                        </div>
                    </div>

                </a>
                <a href="#" class="col-lg-3 col-sm-6 chp-articles-box">
                    <div class="chp-articles-box-category">
                        <h3 class="chp-suggestion-category">BELEDİYE</h3>
                    </div>
                    <div class="d-flex flex-column ">
                        <p class="chp-suggestion-category-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ullamcorper sem est, a accumsan lacus accumsan at. Vestibulum nec elit felis. Duis dictum ac lectus vel luctus.</p>
                        <div class="d-flex chp-suggestion-content align-items-center">
                            <div class="chp-suggestion-link"><p>GÖRÜŞLERİNİZİ PAYLAŞIN</p> 
                                <img class="ms-3" src="../assets/svg/news-arrow.svg">
                            </div> 
                            
                        </div>
                    </div>
                </a>
                <a href="" class="col-lg-3 col-sm-6 chp-articles-box">
                    <div class="chp-articles-box-category">
                        <h3 class="chp-suggestion-category">MUHTARLIK</h3>
                    </div>

                    <div class="d-flex flex-column">
                        <p class="chp-suggestion-category-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ullamcorper sem est, a accumsan lacus accumsan at. Vestibulum nec elit felis. Duis dictum ac lectus vel luctus.</p>
                        <div class="d-flex chp-suggestion-content align-items-center">
                            <div class="chp-suggestion-link"><p>GÖRÜŞLERİNİZİ PAYLAŞIN</p>
                                <img class="ms-3" src="../assets/svg/news-arrow.svg"> </div>
                            
                        </div>
                    </div>
                </a>
            </div>
    </div>
</div>