<div class="chp-tv">
    <div class="container">
        <div class="chp-tv-content d-flex align-items-center justify-content-between">
            <h1 class="chp-tv-title main ps-3">CHP TV</h1>
            <div class="d-flex chp-tv-title-show">
                <a href="#" class="chp-tv-subtitle view">CHP TV’Yİ GÖRÜNTÜLE
                <span class="arrow"><img src="../assets/svg/arrow.svg"></span>
            </a>
            </div>
        </div>
        <div class="row chp-tv-full">
            <a href="#" class="col-lg-6 col-sm-12 chp-tv-mobile">
                <img class="chp-tv-right-side-image" src="../assets/img/chp-tv/genelbaskan-video.png">
                <span class="chp-tv-hour-big">
                    <p class="chp-tv-hour-text">13:00</p>
                </span>
                <span class="chp-tv-box-play-big"><img src="../assets/svg/sharp-play.svg"></span>

                <div class="chp-tv-right-side-time">
                    <p class="date effect chp-tv-date">22 Eylül 2020</p>
                    <h1 class="chp-tv-title">Özgür Özel Basın Toplantısı</h1>
                </div>
            </a>
            <div class="col-lg-6 col-sm-12 row mx-auto chp-tv-right-side">
                <a href="#" class="col-lg-6 col-sm-6 chp-tv-box">
                    <img class="chp-tv-right-side-image" src="../assets/img/chp-tv/OzgurOzel.png">
                    <span class="chp-tv-hour">
                        <p class="chp-tv-hour-text">13:00</p>
                    </span>
                    <span class="chp-tv-box-play"><img src="../assets/svg/sharp-play.svg"></span>
                    <div class="chp-tv-right-side-time">
                        <p class="date effect">22 Eylül 2020</p>
                        <h4>Özgür Özel Basın Toplantısı</h4>
                    </div>
                </a>
                <a href="#" class="col-lg-6 col-sm-6 chp-tv-box">
                    <img class="chp-tv-right-side-image" src="../assets/img/OzgurOzel.png">
                    <span class="chp-tv-hour">
                        <p class="chp-tv-hour-text">13:00</p>
                    </span>
                    <span class="chp-tv-box-play"><img src="../assets/svg/sharp-play.svg"></span>
                    <div class="chp-tv-right-side-time">
                        <p class="date effect">22 Eylül 2020</p>
                        <h4>Özgür Özel Basın Toplantısı</h4>
                    </div>
                </a>
                <a href="#" class="col-lg-6 col-sm-6 chp-tv-box">
                    <img class="chp-tv-right-side-image" src="../assets/img/OzgurOzel.png">
                    <span class="chp-tv-hour">
                        <p class="chp-tv-hour-text">13:00</p>
                    </span>
                    <span class="chp-tv-box-play"><img src="../assets/svg/sharp-play.svg"></span>
                    <div class="chp-tv-right-side-time">
                        <p class="date effect">22 Eylül 2020</p>
                        <h4>Özgür Özel Basın Toplantısı</h4>
                    </div>
                </a>
                <a href="#" class="col-lg-6 col-sm-6 chp-tv-box">
                    <img class="chp-tv-right-side-image" src="../assets/img/OzgurOzel.png">
                    <span class="chp-tv-hour">
                        <p class="chp-tv-hour-text">13:00</p>
                    </span>
                    <span class="chp-tv-box-play"><img src="../assets/svg/sharp-play.svg"></span>
                    <div class="chp-tv-right-side-time">
                        <p class="date effect">22 Eylül 2020</p>
                        <h4>Özgür Özel Basın Toplantısı</h4>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>