<div class="col-lg-12 contact-page-section">
   <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4209255.005580816!2d35.07163765349831!3d39.481259330074586!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14cab9e68aa4f69b%3A0x3552adaf7c94c68c!2zQ3VtaHVyaXlldCBIYWxrIFBhcnRpc2kgxLBzdGFuYnVsIMSwbCBCYcWfa2FubMSxxJ_EsQ!5e0!3m2!1str!2str!4v1617021652656!5m2!1str!2str" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
</div>

<div class="contact-page-card">
   <div class="contact-page-card-content">
      <div class="contact-card-select">
        <span class="subsite-selectbox-arrow"><img src="../assets/svg/arrow-down-black.svg"></span>
        <select class="select-control">
            <option value selected>Genel Merkez</option>
         </select>
      </div>
      <div class="contact-card-info">    
         <div class="contact-card-info-address">
            <div class="contact-card-info-address-icon d-flex">
               <img src="../assets/svg/contact-adress.svg">
               <h6>Adres</h6>
            </div>
            <p>Barbaros Bulvarı Has Fırın Cad. Vidin İş Hanı No:65 D:33 Barbaros Bulvarı Has Fırın Cad. Vidin İş Hanı No:65 D:33 Barbaros Bulvarı Has Fırın Cad. Vidin İş Hanı No:65 D:33</p>
         </div>
         <div class="contact-card-info-phone">
            <div class="contact-card-info-phone-icon d-flex">
               <img src="../assets/svg/contact-phone.svg">
               <h6>Telefon</h6>
            </div>
            <p>+90 (212) 261 11 41</p>
         </div>
         <div class="contact-card-info-fax">
            <div class="contact-card-info-fax-icon d-flex">
               <img src="../assets/svg/contact-fax.svg">
               <h6>Fax</h6>
            </div>
            <p>+90 (212) 261 11 41</p>
         </div>
         <div class="contact-card-info-web">
            <div class="contact-card-info-web-icon d-flex">
               <img src="../assets/svg/contact-web.svg">
               <h6>Web</h6>
            </div>
            <a href="#">İstanbulbesiktas.chp.org.tr</a>
         </div>
         <div class="contact-card-info-email">
            <div class="contact-card-info-email-icon d-flex">
               <img src="../assets/svg/contact-email.svg">
               <h6>E-Posta</h6>
            </div>
            <p>istanbul.besiktas@chp.org.tr</p>
         </div>
      </div>
   </div>
</div>

<div class="contact-page-card-mobile mx-auto">
   <div class="contact-page-card-mobile-title">
      <h2>İLETİŞİM</h2>
   </div>
   <div class="contact-page-card-content">
      <div class="contact-card-select">
        <span class="subsite-selectbox-arrow"><img src="../assets/svg/arrow-down-black.svg"></span>
        <select class="select-control">
            <option value selected>Genel Merkez</option>
         </select>
      </div>
      <div class="contact-card-info">    
         <div class="contact-card-info-address">
            <div class="contact-card-info-address-icon d-flex">
               <img src="../assets/svg/contact-adress.svg">
               <h6>Adres</h6>
            </div>
            <p>Barbaros Bulvarı Has Fırın Cad. Vidin İş Hanı No:65 D:33</p>
         </div>
         <div class="contact-card-info-phone">
            <div class="contact-card-info-phone-icon d-flex">
               <img src="../assets/svg/contact-phone.svg">
               <h6>Telefon</h6>
            </div>
            <p>+90 (212) 261 11 41</p>
         </div>
         <div class="contact-card-info-fax">
            <div class="contact-card-info-fax-icon d-flex">
               <img src="../assets/svg/contact-fax.svg">
               <h6>Fax</h6>
            </div>
            <p>+90 (212) 261 11 41</p>
         </div>
         <div class="contact-card-info-web">
            <div class="contact-card-info-web-icon d-flex">
               <img src="../assets/svg/contact-web.svg">
               <h6>Web</h6>
            </div>
            <a href="#">İstanbulbesiktas.chp.org.tr</a>
         </div>
         <div class="contact-card-info-email">
            <div class="contact-card-info-email-icon d-flex">
               <img src="../assets/svg/contact-email.svg">
               <h6>E-Posta</h6>
            </div>
            <p>istanbul.besiktas@chp.org.tr</p>
         </div>
      </div>
   </div>
   <h6>- HARİTADA GÖSTER -</h6>
</div>