<div class="corporateIdentity">

    <div class="row">
        <div class="col-sm-6 col-lg-6 sub-management-news-card">
            <img class="corp-image" src="../assets/img/corporate-Identity/corporateIdentity-image-1.jpg"alt="subsite-news-image" id="corporateIdentity-image">
            <div class="corporateIdentity-card-content">
                <h2 class="px-3">ATATÜRK FOTOĞRAF <img src="../assets/svg/cloud_download-24px.svg"></h2>
            </div>
        </div>

        <div class="col-sm-6 col-lg-6 sub-management-news-card">
            <img class="corp-image" src="../assets/img/corporate-Identity/corporateIdentity-image-2.jpg" alt="subsite-news-image" id="corporateIdentity-image">
            <div class="corporateIdentity-card-content">
                <h2 class="px-3">GENEL BAŞKAN FOTOĞRAF <img src="../assets/svg/cloud_download-24px.svg"></h2>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-3 col-sm-6 newsOneLine-box journal-blocks">
            <img class="corp-image" src="../assets/img/corporate-Identity/corporateIdentity-image-3.jpg" id="corporateIdentity-subimage">
            <div class="corporateIdentity-card-content">
                <h4 class="subtitle">Kurumsal Kimlik Kitabı <img src="../assets/svg/cloud_download-24px.svg"></h4>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6 newsOneLine-box journal-blocks">
            <img class="corp-image" src="../assets/img/corporate-Identity/corporateIdentity-image-4.jpg" id="corporateIdentity-subimage">
            <div class="corporateIdentity-card-content">
                <h4 class="subtitle">CHP Logo<img src="../assets/svg/cloud_download-24px.svg"></h4>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6 newsOneLine-box journal-blocks">
            <img class="corp-image" src="../assets/img/corporate-Identity/corporateIdentity-image-5.jpg" id="corporateIdentity-subimage">
            <div class="corporateIdentity-card-content">
                <h4 class="subtitle">CHP A4 Antetli Kağıt <img src="../assets/svg/cloud_download-24px.svg"></h4>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6 newsOneLine-box journal-blocks">
            <img class="corp-image" src="../assets/img/corporate-Identity/corporateIdentity-image-6.jpg" id="corporateIdentity-subimage">
            <div class="corporateIdentity-card-content">
                <h4 class="subtitle">CHP Kartvizit <img src="../assets/svg/cloud_download-24px.svg"></h4>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-3 col-sm-6 newsOneLine-box journal-blocks">
            <img class="corp-image" src="../assets/img/corporate-Identity/corporateIdentity-image-7.jpg" id="corporateIdentity-subimage">
            <div class="corporateIdentity-card-content">
                <h4 class="subtitle">CHP Not Kağıdı <img src="../assets/svg/cloud_download-24px.svg"></h4>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6 newsOneLine-box journal-blocks">
            <img class="corp-image" src="../assets/img/corporate-Identity/corporateIdentity-image-8.jpg" id="corporateIdentity-subimage">
            <div class="corporateIdentity-card-content">
                <h4 class="subtitle">CHP Zarf<img src="../assets/svg/cloud_download-24px.svg"></h4>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6 newsOneLine-box journal-blocks">
            <img class="corp-image" src="../assets/img/corporate-Identity/corporateIdentity-image-9.jpg" id="corporateIdentity-subimage">
            <div class="corporateIdentity-card-content">
                <h4 class="subtitle">CHP Sosyal Medya <img src="../assets/svg/cloud_download-24px.svg"></h4>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6 newsOneLine-box journal-blocks">
            <img class="corp-image" src="../assets/img/corporate-Identity/corporateIdentity-image-10.jpg" id="corporateIdentity-subimage">
            <div class="corporateIdentity-card-content">
                <h4 class="subtitle">Genel Başkan Sahne Tasarımı <img src="../assets/svg/cloud_download-24px.svg"></h4>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-3 col-sm-6 newsOneLine-box journal-blocks">
            <img class="corp-image" src="../assets/img/corporate-Identity/corporateIdentity-image-11.jpg" id="corporateIdentity-subimage">
            <div class="corporateIdentity-card-content">
                <h4 class="subtitle">CHP Rozet <img src="../assets/svg/cloud_download-24px.svg"></h4>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6 newsOneLine-box journal-blocks">
            <img class="corp-image" src="../assets/img/corporate-Identity/corporateIdentity-image-12.jpg" id="corporateIdentity-subimage">
            <div class="corporateIdentity-card-content">
                <h4 class="subtitle">CHP Giyim<img src="../assets/svg/cloud_download-24px.svg"></h4>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6 newsOneLine-box journal-blocks">
            <img class="corp-image" src="../assets/img/corporate-Identity/corporateIdentity-image-13.jpg" id="corporateIdentity-subimage">
            <div class="corporateIdentity-card-content">
                <h4 class="subtitle">Genel Başkan Afiş Poster <img src="../assets/svg/cloud_download-24px.svg"></h4>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6 newsOneLine-box journal-blocks">
            <img class="corp-image" src="../assets/img/corporate-Identity/corporateIdentity-image-14.jpg" id="corporateIdentity-subimage">
            <div class="corporateIdentity-card-content">
                <h4 class="subtitle">Genel Başkan Billboard <img src="../assets/svg/cloud_download-24px.svg"></h4>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-3 col-sm-6 newsOneLine-box journal-blocks">
            <img class="corp-image" src="../assets/img/corporate-Identity/corporateIdentity-image-15.jpg" id="corporateIdentity-subimage">
            <div class="corporateIdentity-card-content">
                <h4 class="subtitle">Genel Başkan Megalight <img src="../assets/svg/cloud_download-24px.svg"></h4>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6 newsOneLine-box journal-blocks">
            <img class="corp-image" src="../assets/img/corporate-Identity/corporateIdentity-image-16.jpg"id="corporateIdentity-subimage">
            <div class="corporateIdentity-card-content">
                <h4 class="subtitle">Genel Başkan Bayrak<img src="../assets/svg/cloud_download-24px.svg"></h4>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6 newsOneLine-box journal-blocks">
            <img class="corp-image" src="../assets/img/corporate-Identity/corporateIdentity-image-17.jpg" id="corporateIdentity-subimage">
            <div class="corporateIdentity-card-content">
                <h4 class="subtitle">CHP Minibüs <img src="../assets/svg/cloud_download-24px.svg"></h4>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6 newsOneLine-box journal-blocks">
            <img class="corp-image" src="../assets/img/corporate-Identity/corporateIdentity-image-18.jpg" id="corporateIdentity-subimage">
            <div class="corporateIdentity-card-content">
                <h4 class="subtitle">CHP Otobüs <img src="../assets/svg/cloud_download-24px.svg"></h4>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-3 col-sm-6 newsOneLine-box journal-blocks">
            <img class="corp-image" src="../assets/img/corporate-Identity/corporateIdentity-image-19.jpg" id="corporateIdentity-subimage">
            <div class="corporateIdentity-card-content">
                <h4 class="subtitle">Yazı Karakterleri <img src="../assets/svg/cloud_download-24px.svg"></h4>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6 newsOneLine-box journal-blocks">
            <img class="corp-image" src="../assets/img/corporate-Identity/corporateIdentity-image-20.jpg"id="corporateIdentity-subimage">
            <div class="corporateIdentity-card-content">
                <h4 class="subtitle">Sosyal Medya Avatar<img src="../assets/svg/cloud_download-24px.svg"></h4>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6 newsOneLine-box journal-blocks">
            <img class="corp-image" src="../assets/img/corporate-Identity/corporateIdentity-image-21.jpg" id="corporateIdentity-subimage">
            <div class="corporateIdentity-card-content">
                <h4 class="subtitle">Genel Başkan Afiş Poster <img src="../assets/svg/cloud_download-24px.svg"></h4>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6 newsOneLine-box journal-blocks">
            <img class="corp-image" src="../assets/img/corporate-Identity/corporateIdentity-image-22.jpg" id="corporateIdentity-subimage">
            <div class="corporateIdentity-card-content">
                <h4 class="subtitle">Genel Başkan Billboard<img src="../assets/svg/cloud_download-24px.svg"></h4>
            </div>
        </div>
    </div>

</div>
