<div class="current-publications">
    <div class="container">
        <div class="d-flex justify-content-between align-items-center current-publications-titles">
            <div>
                <h1 class="current-publications-title">GÜNCEL YAYINLAR</h1>
            </div>
            <div>
                <h4 class="current-publications-all-journal">
                    <a href="#">TÜM YAYINLAR</a></h4>
            </div>
        </div>
    </div>
        <div class="container">
            <div class="row ">
                <div class="col-lg-6 col-sm-12 mx-auto ">
                    <div class="scheduler-col is-left ">
                        <div class="current-publications-left d-flex">
                            <picture class="current-publications-pic">
                                <img src="../assets/img/millet-dergi.png">
                            </picture>
                        <div class="current-publications-left-content">
                            <h2 class="current-publications-left-title">Türkiye’de Tarımın Durumu</h2>
                            <p class="current-publications-left-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ultricies dictum justo non tempor. Suspendisse suscipit suscipit eros, eleifend vulputate orci fermentum at. </p>
                        </div>
                    </div>
                        <div class="d-flex align-items-center current-publications-left-second-line">
                                <button class="btn btn-primary current-publications-left-btn">
                                    <a href="#">İNDİR</a>
                                    </button>
                                <p class="current-publications-left-all-journal">
                                    <a href="#">TÜM SAYILARI</a>
                                    </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-12 mx-auto ">
                    <div class="scheduler-col is-right ">
                        <div class="current-publications-right d-flex">
                            <picture class="current-publications-pic">
                                <img src="../assets/img/edebiyat-dergi.png">
                            </picture>
                            <div class="current-publications-left-content">
                                <h2 class="current-publications-left-title current-publications-right-title">Edebiyatçıların ve Yayıncıların Sorunları ve Çözüm Önerileri</h2>
                            </div>
                         
                        </div>
                        <div class="d-flex align-items-center current-publications-right-second-line">
                            <button class="btn btn-primary current-publications-right-btn">
                                <a href="#">İNDİR</a>
                                </button>
                            <p class="current-publications-right-all-journal">
                                <a href="#">TÜM YAYINLAR</a></p>
                        </div>
            
                    </div>
                  
                </div>
            </div>
        </div>
        <div class="current-publications-mobile">
            <div class="row">
                <div class="col-lg-6 col-sm-12 mx-auto current-publications-left">
                    <div class="container">
                        <div class=" d-flex">
                            <img src="../assets/img/millet-dergi.png">
                        <div class="current-publications-left-content">
                            <h2 class="current-publications-left-title">Türkiye’de Tarımın Durumu</h2>
                            <p class="current-publications-left-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ultricies dictum justo non tempor. Suspendisse suscipit suscipit eros, eleifend vulputate orci fermentum at. </p>
                            <div class="d-flex align-items-center current-publications-left-second-line">
                                <button class="btn btn-primary current-publications-left-btn">İNDİR</button>
                                <p class="current-publications-left-all-journal">TÜM SAYILARI</p>
                        </div>
                        </div>
                    </div>
                       
                    </div>
                </div>
                <div class="col-lg-6 col-sm-12 mx-auto current-publications-right">
                    <div class="container">
                        <div class="d-flex">
                            <img src="../assets/img/edebiyat-dergi.png">
                            <div class="current-publications-left-content">
                                <h2 class="current-publications-left-title current-publications-right-title">Edebiyatçıların ve Yayıncıların Sorunları ve Çözüm Önerileri</h2>
                                <div class="d-flex align-items-center current-publications-left-second-line-under">
                                    <button class="btn btn-primary current-publications-right-btn">İNDİR</button>
                                    <p class="current-publications-right-all-journal">TÜM YAYINLAR</p>
                                </div>
                            </div>
                        </div>
                    </div>
                  
                </div>
            </div>
      
    </div>
</div>
