<div class="management-share d-flex">

 
   <div class="directory-button">
      <div class="directory-button-dropdown">
         <button class="directory-button-dropbtn">
            <img src="../assets/svg/list-24px.svg" alt="Directory Icon">
         </button>
         <div class="directory-button-dropdown-content">
            <ul>
               <li><a href="#">Giriş ve Kısa Özet</a></li>
               <li>
                  <a href="#">Anadolu ve Rumeli Müdafaa-i Hukuk Cemiyeti’nden (A-RMCH) Cumhuriyet Halk Fırkasına (CHF)</a>
               </li>
               <li>
                  <a href="#">TBMM’de Birinci ve İkinci Guruplar</a>
               </li>
               <li>
                  <a href="#">Mustafa Kemal Atatürk’ün ve Cumhuriyet Halk Partisinin Devrimcilik Anlayışı…</a>
               </li>
               <li>
                  <a href="#">Cumhuriyetle Birlikte Gelen Devrimler</a>
               </li>
               <li>
                  <a href="#">Altı İlke</a>
               </li>
               <li>
                  <a href="#">Altı Oklu Bayrak</a>
               </li>
               <li>
                  <a href="#">Altı Oklu Bayrak</a>
               </li>
               <li>
                  <a href="#">Altı Oklu Bayrak</a>
               </li>
               <li>
                  <a href="#">Altı Oklu Bayrak</a>
               </li>
               <li>
                  <a href="#">Altı Oklu Bayrak</a>
               </li>
               <li>
                  <a href="#">Altı Oklu Bayrak</a>
               </li>
               <li>
                  <a href="#">Altı Oklu Bayrak</a>
               </li>
            </ul>
           
         </div>
         <div class="directory-button-dropbtn-text">
            <p>Dizin</p>
         </div>
      </div>
   </div>

  

</div>