<div class="container">
    <div class="row">
        <div class="col-lg-10 mx-auto form">
            <div class="row">
                <div class="col-lg-5 form-left">
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Ad, Soyadı</label>
                        <input type="text" class="form-control" required id="exampleFormControlInput1"
                            placeholder="Adınızı ve Soyadınızı buraya yazınız">
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlInput4" class="form-label">Telefon No</label>
                        <input type="password" class="form-control" required id="exampleFormControlInput4"
                            placeholder="Telefon numaranızı buraya yazınız">
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlInput4" class="form-label">E-Posta Adresi</label>
                        <input type="password" class="form-control" required id="exampleFormControlInput4"
                            placeholder="E-Posta adresinizi buraya yazınız">
                    </div>
                </div>
                <div class="col-lg-7 form-right">
                    <div class="mb-3">
                        <label for="exampleFormControlInput4" class="form-label">Konu</label>
                        <input type="password" class="form-control" required id="exampleFormControlInput4"
                            placeholder="Konuyu buraya yazınız">
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlTextarea1" class="text-label">Mesajınız</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Mesajınızı buraya yazınız"></textarea>
                    </div>
                    <button class="btn btn-secondary">GÖNDER</button>
                </div>
            </div>
        </div>
    </div>
</div>