<div class="genel-baskan">
    <div class="container">
        <div class="d-flex align-items-center genel-baskan-mobile">
            <div>
                <img class="pre-card-full-image" src="../assets/img/kk.png" alt="Kemal Kılıçdaroğlu">
            </div>
            <div class="d-flex flex-column genel-baskan-general-info">
                <h4 class="genel-baskan-general-info-title">KEMAL KILIÇDAROĞLU</h4>
                <p class="genel-baskan-general-info-degree">GENEL BAŞKAN</p>
                <p class="genel-baskan-general-info-mail">kemal.kilicdaroglu@chp.org.tr</p>
                <p class="genel-baskan-general-info-num">03122074040</p>
            </div>

        </div>
       
    </div>
</div>
