<div class="pre-card-full">
    <div class="container">
        <div class="text-center">
            <img class="pre-card-full-image" src="../assets/img/kk.png" alt="Kemal Kılıçdaroğlu">
        </div>
        <div class="pre-card-full-content col-lg-10 mx-auto">
            <h1 class="pre-card-full-content-title">KEMAL KILIÇDAROĞLU</h1>
            <h4 class="pre-card-full-content-grade">CUMHURİYET HALK PARTİSİ GENEL BAŞKANI</h4>
            <p class="pre-card-full-content-text">Cumhuriyet Halk Partisi, ulusumuzun birliğine ve bütünlüğüne, vatanımızın bağımsızlığı ile “Hâkimiyet kayıtsız şartsız milletindir” ilkesine kararlılıkla bağlı olanların partisidir. Ulu Önder Mustafa Kemal Atatürk’ün Türkiye Cumhuriyetiile birlikte iki büyük eserinden biri olarak nitelendirdiği Cumhuriyet Halk Partisi, cumhuriyetimizin demokrasiyle taçlandırılmasının öncüsüdür.<br> <br> Kimseyi ötekileştirmeyen, tüm yurttaşlarımızı kucaklayan demokrasi ve adalet mücadelemiz, Atatürk’ün ilke ve devrimlerinin yol göstericiliğinde hedefine ulaşacaktır</p>
        </div>
    </div>
</div>