<div class="pre-card">
    <img class="journal-image" src="../assets/img/kk-foto.png">
    <h3>KEMAL KILIÇDAROĞLU</h3>
    <div class="pre-card-icons">
        <a class="pre-card-button icon no-border baskan-icon">
            <img class="blue-icon" src="../assets/svg/Mail.svg" alt="MailIcon">
            <img class="red-icon" src="../assets/svg/Mail-red.svg" alt="MailIcon">
        </a>
        <a class="pre-card-button icon baskan-icon">
            <img class="blue-icon" src="../assets/svg/Twitter.svg" alt="twitterIcon">
            <img class="red-icon" src="../assets/svg/Twitter-red.svg" alt="twitterIcon">
        </a>
        <a class="pre-card-button icon baskan-icon">
            <img class="blue-icon" src="../assets/svg/Facebook.svg" alt="facebookIcon">
            <img class="red-icon" src="../assets/svg/Facebook-red.svg" alt="facebookIcon">
        </a>
        <a class="pre-card-button icon no-border baskan-icon">
            <img class="blue-icon" src="../assets/svg/instagram.svg" alt="instagramIcon">
            <img class="red-icon" src="../assets/svg/instagram-red.svg" alt="instagramIcon">
        </a>
    </div>
</div>
<div class="pre-card-mobile">
    <div class="row mx-auto pre-card-mobile-box">
        <div class="col-sm-6 px-0">
            <img class=" pre-card-mobile-image" src="../assets/img/kk-foto.png">
        </div>

        <div class="col-sm-6 d-flex flex-column justify-content-between px-0 pre-card-mobile-box-right">
            <h3 class="pre-card-mobile-title">KEMAL KILIÇDAROĞLU</h3>
            <div class="pre-card-mobile-icons d-flex">
                <a class="pre-card-button icon pre-card-icon no-border">
                    <img src="../assets/svg/Mail.svg" alt="MailIcon">
                </a>
                <a class="pre-card-button pre-card-icon icon">
                    <img src="../assets/svg/Twitter.svg" alt="twitterIcon">
                </a>
                <a class="pre-card-button pre-card-icon icon">
                    <img src="../assets/svg/Facebook.svg" alt="facebookIcon">
                </a>
                <a class="pre-card-button icon pre-card-icon no-border">
                    <img src="../assets/svg/instagram.svg" alt="instagramIcon">
                </a>
            </div>
        </div>
    </div>
</div>