<div class="genel-baskan-info">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 genel-baskan-info-list">
                <ul class="genel-baskan-info-list-content">
                    <span class="genel-baskan-arrow-down"><img class="" src="../assets/svg/arrow-down.svg"></span>
                    <li><a class="active" href="#">ÖZGEÇMİŞ</a></li>
                    <li><a href="#">MAL BİLDİRİMİ</a></li>
                    <li><a href="#">TBMM GRUP KONUŞMALARI</a></li>
                    <li><a href="#">YAZILI AÇIKLAMALAR</a> </li>
                    <li><a href="#">KABULLER</a></li>
                    <li><a href="#">MİTİNG KONUŞMALARI</a></li>
                    <li><a href="#">ETKİNLİK KONUŞMALARI</a></li>
                    <li><a href="#">TV PROGRAMLARI</a></li>
                    <li><a href="#">SOSYAL MEDYA</a></li>
                    <li><a href="#">BASIN AÇIKLAMALARI</a></li>
                    <li><a href="#">HABERLER</a></li>
                    <li><a href="#">CUMHURİYET YAZILARI</a></li>
                    <li><a href="#">ADALET YÜRÜYÜŞÜ</a></li>
                    <li><a href="#">RÖPORTAJLAR</a></li>
                </ul>
            </div>
            <div class="col-md-12 genel-baskan-info-list-mobile ">
                <ul>
                    <li>
                        <p>Özgeçmişi</p>
                        <span class="genel-baskan-arrow-down"><img class="" src="../assets/svg/arrow-down.svg"></span>
                        <span class="genel-baskan-arrow-red"><img class="" src="../assets/svg/arrow-up-red.svg"></span>
                        <ul class=" baskan-list-dropdown">
                            <li><a href="#">Mal Bildirimi</a></li>
                            <li><a href="#">TBMM Grup Konuşmaları</a></li>
                            <li><a href="#">Yazılı Açıklamalar</a> </li>
                            <li><a href="#">Kabuller</a></li>
                            <li><a href="#">Miting Konuşmaları</a></li>
                            <li><a href="#">Etkinlik Konuşmaları</a></li>
                            <li><a href="#">TV Programları</a></li>
                            <li><a href="#">Sosyal Medya</a></li>
                            <li><a href="#">Basın Açıklamaları</a></li>
                            <li><a href="#">Haberler</a></li>
                            <li><a href="#">Cumhuriyet Yazıları</a></li>
                            <li><a href="#">Adalet Yürüyüşü</a></li>
                            <li><a href="#">Röportajlar</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="col-lg-9 genel-baskan-info-content">
                <div class="scheduler-col is-right">
                    <h2 class="genel-baskan-info-content-title">Özgeçmiş</h2>
                    <div class="genel-baskan-info-content-text"></div>
                </div>
            </div>
        </div>
    </div>
</div>