<div id="header-banner" class="header-banner">
    <div class="container">
        <div class="header-banner-cancel">
            <button class="btn add-btn btn-default">KAPAT</button>
        </div>
        <div class="header-banner-content">
            <h1 class="header-banner-content-bigTitle">Başlık Metin Alanı</h1>
            <h2 class="header-banner-content-title">Altbaşlık Metin Alanı</h2>
            <p class="header-banner-content-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ullamcorper sem est, a accumsan lacus accumsan at. Vestibulum nec elit felis. Duis dictum ac lectus vel luctus.</p>
            <div class="header-banner-content-btn">
                <button class="btn btn-transparent">DAHA FAZLA BİLGİ ALIN</button>
            </div>
        </div>
    </div>
</div>