<div id="video-banner" class="header-banner header-video-banner">
    <div class="container">
        <div class="header-banner-cancel">
            <button class="btn add-btn btn-default">KAPAT</button>
        </div>
        <div class="header-video-banner-content">
            <img src="../assets/img/gonullu.jpg">
            <div class="header-video-banner-text">
                <h1 class="header-video-banner-content-bigTitle">Başlık Metin Alanı</h1>
                <h2 class="header-video-banner-content-title">Altbaşlık Metin Alanı</h2>
                <p class="header-video-banner-content-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ullamcorper sem est, a accumsan lacus accumsan at. Vestibulum nec elit felis. Duis dictum ac lectus vel luctus.</p>
                <div class="header-banner-content-btn justify-content-start">
                    <a href="#"><button class="btn btn-transparent">DAHA FAZLA BİLGİ ALIN</button></a>
                </div>
            </div>
          
        </div>
    </div>
</div>