<div class="invitation ">
    <div class="container">
        <div class="mx-auto row invitation-content">
            <div class="col-lg-6 invitation-left">
                <p class="invitation-left-title">İKİNCİ YÜZYILA ÇAĞRI BEYANNAMESİ</p>
                <div class="d-flex invitation-left-subtext">
                    <a href="#" class="invitation-left-link" target="blank">
                        <p class="invitation-left-text mb-3">İKİNCİ YÜZYILA ÇAĞRI BEYANNAMESİNİ İNDİRİN</p>
                    </a>
                    <span class="ms-4"><img src="../assets/svg/trending_arrow.svg"></span>
                </div>
            </div>
            <div class="col-lg-6 invitation-right-side">
                <div class="invitation-right-side-content">
                    <h2 class="invitation-right-side-title">ŞİMDİ TÜRKİYE’NİN TAN VAKTİ. GÜN DOĞUYOR.UMUT YEŞERİYOR.
                    </h2>
                </div>
                <p class="invitation-right-side-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce
                    ullamcorper sem est, a accumsan lacus accumsan at. Vestibulum nec elit felis. Duis dictum ac lectus
                    vel luctus.</p>
                <div class="invitation-btn">
                    <button class="btn btn-primary invitation-right-side-btn">İKTİDAR KURULTAYI HAKKINDA BİLGİ ALIN</button>
                </div>
            </div>
        </div>
    </div>
</div>