<div class="journal-page-allnews">
   <div class="container">  
      <div class="journal-allnews">
         <div class="journal-allnews-title">
            <h5>Tüm Haberler</h5>
         </div>
         <div class="d-flex justify-content-between mt-3">
            <div class="col-lg-9 journal-allnews-news">
               <div>
                <a href="#" class="d-flex journal-allnews-news-border">
                     <div class="journal-allnews-news-image">
                        <img src="../assets/img/allnews-1.png">
                     </div>
                     <div class="journal-allnews-news-content">
                        <p class="date effect">08.08.2020</p>
                        <h4 class="subtitle">CHP Genel Başkanı Kemal Kılıçdaroğlu, eğitim sektörü paydaşları ile görüştü.</h4>
                     </div>
                    </a>
                  <a href="#" class="d-flex journal-allnews-news-border">
                     <div class="journal-allnews-news-image">
                        <img src="../assets/img/allnews-2.png">
                     </div>
                     <div class="journal-allnews-news-content">
                        <p class="date effect">08.08.2020</p>
                        <h4 class="subtitle">CHP Genel Başkanı Kemal Kılıçdaroğlu, eğitim sektörü paydaşları ile görüştü.</h4>
                     </div>
                  </a>
                  <a href="#" class="d-flex journal-allnews-news-border">
                     <div class="journal-allnews-news-image">
                        <img src="../assets/img/allnews-3.png">
                     </div>
                     <div class="journal-allnews-news-content">
                        <p class="date effect">08.08.2020</p>
                        <h4 class="subtitle">CHP Genel Başkanı Kemal Kılıçdaroğlu, eğitim sektörü paydaşları ile görüştü.</h4>
                     </div>
                    </a>
                  <a href="#" class="d-flex journal-allnews-news-border">
                     <div class="journal-allnews-news-image">
                        <img src="../assets/img/allnews-4.png">
                     </div>
                     <div class="journal-allnews-news-content">
                        <p class="date effect">08.08.2020</p>
                        <h4 class="subtitle">CHP Genel Başkanı Kemal Kılıçdaroğlu, eğitim sektörü paydaşları ile görüştü.</h4>
                     </div>
                    </a>
                  <a href="#" class="d-flex journal-allnews-news-border">
                     <div class="journal-allnews-news-image">
                        <img src="../assets/img/allnews-1.png">
                     </div>
                     <div class="journal-allnews-news-content">
                        <p class="date effect">08.08.2020</p>
                        <h4 class="subtitle">CHP Genel Başkanı Kemal Kılıçdaroğlu, eğitim sektörü paydaşları ile görüştü.</h4>
                     </div>
                    </a>
                  <a href="#" class="d-flex journal-allnews-news-border">
                     <div class="journal-allnews-news-image">
                        <img src="../assets/img/allnews-2.png">
                     </div>
                     <div class="journal-allnews-news-content">
                        <p class="date effect">08.08.2020</p>
                        <h4 class="subtitle">CHP Genel Başkanı Kemal Kılıçdaroğlu, eğitim sektörü paydaşları ile görüştü.</h4>
                     </div>
                    </a>
                  <a href="#" class="d-flex journal-allnews-news-border">
                     <div class="journal-allnews-news-image">
                        <img src="../assets/img/allnews-3.png">
                     </div>
                     <div class="journal-allnews-news-content">
                        <p class="date effect">08.08.2020</p>
                        <h4 class="subtitle">CHP Genel Başkanı Kemal Kılıçdaroğlu, eğitim sektörü paydaşları ile görüştü.</h4>
                     </div>
                    </a>
                  <a href="#" class="d-flex journal-allnews-news-border">
                     <div class="journal-allnews-news-image">
                        <img src="../assets/img/allnews-4.png">
                     </div>
                     <div class="journal-allnews-news-content">
                        <p class="date effect">08.08.2020</p>
                        <h4 class="subtitle">CHP Genel Başkanı Kemal Kılıçdaroğlu, eğitim sektörü paydaşları ile görüştü.</h4>
                     </div>
                    </a>
               </div>
               {% include "components/Journal-pagination.html" %}
            </div>
            {% include "components/newsbanner.html" %}
         </div>
      </div>
   </div>
</div>