<div class="d-flex">   
   <div class="journal-detail-page-right-icon d-flex">
      <div class="journal-detail-page-right-icon-button">
         <img class="journal-icon-button journal-detail-page-right-icon-button-show" src="../assets/svg/journaldetail-2.svg">
      </div>
   </div>  
   <div class="journal-detail-page-right-icon-scroll d-flex">
      <a class="journal-detail-page-right-icon-scroll-button">
        <img class="journal-detail-page-right-icon-scroll-button-show" src="../assets/svg/journaldetail-4.svg"/>
        <img class="journal-detail-page-right-icon-scroll-button-hiddenicon" src="../assets/svg/journal-drop-white.svg"/>
        <div class="journal-detail-page-right-icon-scroll-button-hidden">
            <div class="journal-detail-page-right-icon-scroll-button-hidden-content">
                <img src="../assets/svg/drop-minus.svg">
                <img src="../assets/svg/drop-plus.svg">
            </div>
        </div>
   </a>
   </div>
</div>