<div class="journal-allnews-pagination mx-auto d-flex">
   <div class="journal-allnews-pagination-prev d-flex">
      <a href="#" class="to-prev-icon pagination-icon"></a>
      <a href="#" class="prev-icon pagination-icon"></a>
   </div>
   <div class="journal-allnews-pagination-numbers">
      <a href="#" class="pagination-numbers">1</a>
      <a href="#" class="pagination-numbers">2</a>
      <a href="#" class="pagination-numbers">3</a>
      <a href="#" class="pagination-numbers">4</a>
      <a href="#" class="pagination-numbers">5</a>
   </div>
   <div class="journal-allnews-pagination-next d-flex">
      <a href="#" class="to-next-icon pagination-icon"></a>
      <a href="#" class="next-icon pagination-icon"></a>
   </div>
</div>