<div class="journal-page-content">
    <h1 class="journal-page-content-title">GÜNDEM</h1>
    <ul class="journal-page-content-option">
        <li class="journal-page-content-option-category">
            <p>Tüm Kategoriler</p>
            <span class="ms-2 option-icon-light"><img src="../assets/svg/expand-more-blue.svg"></span>
            <span class="option-icon-dark ms-2"><img src="../assets/svg/arrow-down-red.svg"></span>
            <ul class="journal-page-content-option-list">
                <li><a href="#"> Kategori 1</a></li>
                <li><a href="#"> Kategori 2</a></li>
                <li><a href="#"> Kategori 2</a></li>
                <li><a href="#"> Kategori 2</a></li>
                <li><a href="#"> Kategori 2</a></li>
                <li><a href="#"> Kategori 2</a></li>
                <li><a href="#"> Kategori 2</a></li>
                <li><a href="#"> Kategori 2</a></li>
                <li><a href="#"> Kategori 2</a></li>
                <li><a href="#"> Kategori 2</a></li>
                <li><a href="#"> Kategori 2</a></li>
            </ul>
        </li>
     </ul>
</div>


<!--<div class="journal-page-section">
   <div class="journal-page-section-title">
      <h2>GÜNDEM</h2>
   </div>
   <select class="journal-page-section-main">
      <option>Tüm Kategoriler</option>
      <option> Kategori 1</option>
      <option> Kategori 2</option>
   </select>
   <select class="journal-page-section-mobile">
      <option></option>
      <option>Tüm Kategoriler</option>
      <option> Kategori 1</option>
      <option> Kategori 2</option>
   </select>
</div>  -->