<div class="col-lg-12 mx-auto row ms-2">
   <div class="col-lg-4 col-sm-6 newsletter-subscription-subsites">
       <h4 class="newsletter-subscription-subsites-title">ALT SİTELER</h4>
       <a href="#"><p>Parti Örgütü ve Yurtdışı Örgütlenme</p></a>
       <a href="#"><p>İdari ve Mali İşler</p></a>
       <a href="#"><p>Hukuk ve Seçim İşleri</p></a>
       <a href=""><p>Tanıtım ve Halkla İlişkiler</p></a>
       <a href=""><p>Ekonomi Politikaları ve İşveren Örgütleri</p></a>
   </div>
   <div class="col-lg-4 col-sm-6 d-flex flex-column justify-content-center newsletter-subscription-subsites">
       <a href="#"><p>İşçi Sendikaları, Esnaf - Sanatkar ve Sivil Toplum Kuruluşları</p></a>
       <a href="#"><p>Sosyal Politikalar</p></a>
       <a href="#"><p>Bilgi ve İletişim Teknolojileri</p></a>
       <a href="#"><p>Bilim Yönetim Kültür Platformu</p></a>
       <a href="#"><p>Eğitim Politikaları</p></a>

   </div>
   <div class="col-lg-4 col-sm-6 newsletter-subscription-subsites">
       <h4 class="newsletter-subscription-subsites-title">ÖNEMLİ BAĞLANTILAR</h4>
       <a href="#"><p>e-Ödeme</p></a>
       <a href="#"><p>Yurtdışı Birlikleri</p></a>
       <a href="#"><p>Takıma Katılın</p></a>
       <a href="#"><p>Online Üyelik</p></a>
       <a href="#"><p>CHP TV</p></a>
       <a href="#"><p>Kütüphane</p></a>
   </div>
</div>