
    <div class="row">
        <a href="#" class="col-lg-3 col-sm-6 newsOneLine-box journal-blocks">
            <img src="../assets/img/gundem.png" alt="Eğitim sektörü ile ilgili görüşmeler yapıldı">
            <div class="journal-blocks-date">
                <p class="date effect">08.08.2020</p>
                <h4 class="subtitle">CHP Genel Başkanı Kemal Kılıçdaroğlu, eğitim sektörü paydaşları ile görüştü.</h4>
            </div>
        </a>
        <a href="#" class="col-lg-3 col-sm-6 newsOneLine-box journal-blocks">
            <img src="../assets/img/gundem.png" alt="Eğitim sektörü ile ilgili görüşmeler yapıldı">
            <div class="journal-blocks-date">
                <p class="date effect">08.08.2020</p>
                <h4 class="subtitle">CHP Genel Başkanı Kemal Kılıçdaroğlu, eğitim sektörü paydaşları ile görüştü.</h4>
            </div>
        </a>
        <a href="#" class="col-lg-3 col-sm-6 newsOneLine-box journal-blocks">
            <img src="../assets/img/gundem.png" alt="Eğitim sektörü ile ilgili görüşmeler yapıldı">
            <div class="journal-blocks-date">
                <p class="date effect">08.08.2020</p>
                <h4 class="subtitle">CHP Genel Başkanı Kemal Kılıçdaroğlu, eğitim sektörü paydaşları ile görüştü.</h4>
            </div>
        </a>
        <a href="#" class="col-lg-3 col-sm-6 newsOneLine-box journal-blocks">
            <img src="../assets/img/gundem.png" alt="Eğitim sektörü ile ilgili görüşmeler yapıldı">
            <div class="journal-blocks-date">
                <p class="date effect">08.08.2020</p>
                <h4 class="subtitle">CHP Genel Başkanı Kemal Kılıçdaroğlu, eğitim sektörü paydaşları ile görüştü.</h4>
            </div>
        </a>
    </div>





<!--<div class="container newsOneLine">
        <h4 class="newsOneLine-title">Gündem’den Öne Çıkan Haberler</h4>
        <div class="row">
            <a href="#" class="col-lg-3 col-sm-6 newsOneLine-box journal-blocks">
                <img src="../assets/img/gundem.png" alt="Eğitim sektörü ile ilgili görüşmeler yapıldı">
                <div class="journal-blocks-date">
                    <p class="date effect">08.08.2020</p>
                    <h4 class="subtitle">CHP Genel Başkanı Kemal Kılıçdaroğlu, eğitim sektörü paydaşları ile görüştü.</h4>
                </div>
            </a>
            <a href="#" class="col-lg-3 col-sm-6 newsOneLine-box journal-blocks">
                <img src="../assets/img/gundem.png" alt="Eğitim sektörü ile ilgili görüşmeler yapıldı">
                <div class="journal-blocks-date">
                    <p class="date effect">08.08.2020</p>
                    <h4 class="subtitle">CHP Genel Başkanı Kemal Kılıçdaroğlu, eğitim sektörü paydaşları ile görüştü.</h4>
                </div>
            </a>
            <a href="#" class="col-lg-3 col-sm-6 newsOneLine-box journal-blocks">
                <img src="../assets/img/gundem.png" alt="Eğitim sektörü ile ilgili görüşmeler yapıldı">
                <div class="journal-blocks-date">
                    <p class="date effect">08.08.2020</p>
                    <h4 class="subtitle">CHP Genel Başkanı Kemal Kılıçdaroğlu, eğitim sektörü paydaşları ile görüştü.</h4>
                </div>
            </a>
            <a href="#" class="col-lg-3 col-sm-6 newsOneLine-box journal-blocks">
                <img src="../assets/img/gundem.png" alt="Eğitim sektörü ile ilgili görüşmeler yapıldı">
                <div class="journal-blocks-date">
                    <p class="date effect">08.08.2020</p>
                    <h4 class="subtitle">CHP Genel Başkanı Kemal Kılıçdaroğlu, eğitim sektörü paydaşları ile görüştü.</h4>
                </div>
            </a>
        </div>
    </div>-->
