<div class="container ">
    <div class="newsletter-subscription">
        <div class="newsletter-subscription-content">
            <div class="newsletter-subscription-logo">
                <img class="newsletter-subscription-image" src="../assets/img/CHP-Dikey-Logo-2.png" alt="chp logo">
            </div>
            <div class="row">
                <div class="newsletter-subscription-content col-lg-10 col-sm-10 mx-auto text-center">
                    <h2 class="newsletter-subscription-content-title">CHP E-BÜLTEN ÜYELİĞİ</h2>
                    <p class="newsletter-subscription-content-text col-sm-10 mx-auto">CHP ile ilgili tüm gelişmelerden
                        anında haberdar olmak için; “CHP e-Bülten” listesine kayıt olunuz.</p>

                </div>
            </div>
            <div class="row">
                <div class="col-lg-10 col-10 mx-auto">
                    <form class="newsletter-subscription-input row form">
                        <div class="form-group col-lg-2">
                            <label for="formControlName" class="form-label">Adı:</label>
                            <input type="text" class="form-control" required id="formControlName" placeholder="Ad">
                            <label id="formControlName-error" class="error" for="formControlName">Lütfen adınızı
                                giriniz

                            </label>
                        </div>
                        <div class="form-group col-lg-2">
                            <label for="formControlLastName" class="form-label">Soyadı:</label>
                            <input type="text" class="form-control" required id="formControlLastName"
                                placeholder="Soyadı">
                            <label id="formControlLastName-error" class="error" for="formControlLastName">Lütfen
                                soyadınızı giriniz

                            </label>
                        </div>
                        <div class="form-group col-lg-5">
                            <label for="formControlMail" class="form-label">E-Posta Adresi:</label>
                            <input type="text" required class="form-control mail-input" id="formControlMail"
                                placeholder="E-Posta adresinizi buraya yazınız">

                            <label id="formControlMail-error" class="error" for="formControlMail">Lütfen e-posta
                                adresinizi giriniz

                            </label>

                        </div>
                        <button class="btn newsletter-subscription-btn btn-secondary">KAYDET</button>
                       


                    </form>
                </div>
            </div>

            <div class="row ms-2 newsletter-subscription-border">
                <div class="col-lg-4 col-sm-6 newsletter-subscription-subsites">
                    <h4 class="newsletter-subscription-subsites-title">ALT SİTELER</h4>
                    <a href="#">
                        <p>Parti Örgütü ve Yurtdışı Örgütlenme</p>
                    </a>
                    <a href="#">
                        <p>İdari ve Mali İşler</p>
                    </a>
                    <a href="#">
                        <p>Hukuk ve Seçim İşleri</p>
                    </a>
                    <a href="">
                        <p>Tanıtım ve Halkla İlişkiler</p>
                    </a>
                    <a href="">
                        <p>Ekonomi Politikaları ve İşveren Örgütleri</p>
                    </a>
                </div>
                <div
                    class="col-lg-4 col-sm-6 d-flex flex-column justify-content-center newsletter-subscription-subsites second">
                    <a href="#">
                        <p>İşçi Sendikaları, Esnaf - Sanatkar ve Sivil Toplum Kuruluşları</p>
                    </a>
                    <a href="#">
                        <p>Sosyal Politikalar</p>
                    </a>
                    <a href="#">
                        <p>Bilgi ve İletişim Teknolojileri</p>
                    </a>
                    <a href="#">
                        <p>Bilim Yönetim Kültür Platformu</p>
                    </a>
                    <a href="#">
                        <p>Eğitim Politikaları</p>
                    </a>

                </div>
                <div class="col-lg-4 col-sm-6 newsletter-subscription-subsites">
                    <h4 class="newsletter-subscription-subsites-title">ÖNEMLİ BAĞLANTILAR</h4>
                    <a href="#">
                        <p>e-Ödeme</p>
                    </a>
                    <a href="#">
                        <p>Yurtdışı Birlikleri</p>
                    </a>
                    <a href="#">
                        <p>Takıma Katılın</p>
                    </a>
                    <a href="#">
                        <p>Online Üyelik</p>
                    </a>
                    <a href="#">
                        <p>CHP TV</p>
                    </a>
                    <a href="#">
                        <p>Kütüphane</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>