<div class="party-management-page-member-resume-section">
    <div class="row">
        <div class="col-md-3 member-right-section"></div>
        <div class="col-sm-12 col-md-9">
            <div class="party-management-page-member-resume mx-auto">
                <div class="party-management-page-member-resume-content">
                    <h3>Özgeçmişi</h3>
                    <p>Onursal Adıgüzel, 1985 yılında Malatya’da doğdu. Lisans eğitimini Yıldız Teknik Üniversitesi Endüstri Mühendisliği bölümünde tamamladı. Halen Boğaziçi Üniversitesi Endüstri Mühendisliği bölümünde yüksek lisans eğitimine devam etmektedir.<br><br>
            
                    Çeşitli özel sektör firmalarında Endüstri Mühendisi ve yönetici olarak görev yaptı. Eylül 2010 ile Ocak 2011 tarihleri arasında Cumhuriyet Halk Partisi Gençlik Kolları MYK üyesi olarak görev yapan Adıgüzel, Cumhuriyet Halk Partisi Gençlik Kolları Örgüt ve Örgütlenmeden Sorumlu Genel Başkan Yardımcılığı görevinde bulundu. 34. Olağan Kurultay’da, 18. Olağanüstü Kurultay’da ve 36. Olağan Kurultay’da Parti Meclisi üyeliğine seçildi. 
                    <br><br>
                    25, 26 ve 27. Dönemde İstanbul milletvekili seçilen Adıgüzel, Şubat 2018’den bu yana Cumhuriyet Halk Partisi Bilgi ve İletişim Teknolojilerinden Sorumlu Genel Başkan Yardımcılığı görevini yürütmektedir.  26. yasama döneminde TBMM AB Uyum Komisyonu, Türkiye-AB Karma Parlamento Komisyonu, Çevre Komisyonu ve CHP Kadın Çocuk Hak ve İhlalleri İnceleme ve İzleme Komisyonu üyeliği yapan Adıgüzel, iyi düzeyde İngilizce bilmektedir.
                    <br><br>
                    Adıgüzel, Sosyolog Elif Duygu Adıgüzel ile evli, bir çocuk babasıdır. </p>
                </div>
            </div>
        </div>
    </div>
 </div>