<div class="party-management-cityhead">
   <div class="container">  
      <div class="row mx-auto">
         <div class="party-management-cityhead-member">
            <div class="col-lg-2 mt-4 w-auto">
               <img src="../assets/img/party-city-head.png" alt="Parti Yönetimi Üyesi">
            </div>
            <div class="col-lg-10 party-management-cityhead-member-group">
               <div class="party-management-cityhead-member-info">
                  <h3>Mehmet Çelebi</h3>
                  <h6>Adana İl Başkanı</h6>
               </div>
            </div>
         </div>
      </div>
   </div>
</div> 