<div class="container">
    <div class="d-flex justify-content-between align-items-center party-management-page-section-title">
       <div class="journal-titles">
          <h2>PARTİ YÖNETİMİ</h2>
       </div>
    </div> 
 </div>
 <div class="party-management-page-section-main">
    <div class="party-management-page-section">
        <div class="container">
            <div class="row g-0">
                <div class="col-xs-12 col-lg-3 party-management-page-top">
                   <div class="party-management-page-section-aside">
                      <ul>
                         <li><a>MYK ÜYELERİ</a></li>
                         <li><a>GENEL SEKRETER</a></li>
                         <li><a>PARTİ MECLİS ÜYELERİ</a></li>
                         <li><a>YDK ÜYELERİ</a></li>
                         <li><a>MİLLETVEKİLLERİ</a></li>
                         <li><a>İL BAŞKANLIKLARI</a></li>
                         <li><a>İLÇE BAŞKANLIKLARI</a></li>
                      </ul>
                      <!--<div class="party-management-page-section-aside-select">
                          <ul>
                              <li>
                                <p>Özgeçmişi</p>
                                <span class="party-management-page-section-aside-select-arrow"><img src="../assets/svg/arrow-down-black.svg"></span>
                                <ul class="baskan-list-dropdown">
                                   <li><a href="#">MYK ÜYELERİ</a></li>
                                   <li><a href="#">GENEL SEKRETER</a></li>
                                   <li><a href="#">PARTİ MECLİS ÜYELERİ</a></li>
                                   <li><a href="#">YDK ÜYELERİ</a></li>
                                   <li><a href="#">MİLLETVEKİLLERİ</a></li>
                                   <li><a href="#">İL BAŞKANLIKLARI</a></li>
                                   <li><a href="#">İLÇE BAŞKANLIKLARI</a></li>
                               </ul>
                              </li>
                          </ul>
                         <select>
                            <option>MYK ÜYELERİ</option>
                            <option>GENEL SEKRETER</option>
                            <option>PARTİ MECLİS ÜYELERİ</option>
                            <option>YDK ÜYELERİ</option>
                            <option>MİLLETVEKİLLERİ</option>
                            <option>İL BAŞKANLIKLARI</option>
                            <option>İLÇE BAŞKANLIKLARI</option>
                         </select>
                      </div>-->
                    </div>
                </div>
                <div class="col-md-12 party-management-page-top-mobile">
                    <ul>
                        <li>
                            <p>MYK Üyeleri</p>
                            <span class="party-management-mobile-arrow-down"><img class="" src="../assets/svg/arrow-down.svg"></span>
                            <span class="party-management-mobile-arrow-red"><img class="" src="../assets/svg/arrow-up-red.svg"></span>
                            <ul class="party-management-mobile-dropdown">
                                <li><a href="#">MYK ÜYELERİ</a></li>
                                <li><a href="#">GENEL SEKRETER</a></li>
                                <li><a href="#">PARTİ MECLİS ÜYELERİ</a></li>
                                <li><a href="#">YDK ÜYELERİ</a></li>
                                <li><a href="#">MİLLETVEKİLLERİ</a></li>
                                <li><a href="#">İL BAŞKANLIKLARI</a></li>
                                <li><a href="#">İLÇE BAŞKANLIKLARI</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-9 party-management-page-bottom">
                   <div class="party-management-page-section-members">
                      <div class="d-flex party-management-page-section-center">
                         <div class="party-management-page-section-members-title">
                            <h2>MYK Üyeleri</h2>
                         </div> 
                         <div class="party-management-page-section-members-input">
                            <div class="party-management-page-section-members-input-filter">
                               <input type="text" class="form-control" placeholder="Ad ve Soyadı ile filtreleyin">
                               <img class="filter-icon" src="../assets/svg/management-filter.svg" alt="Filter Icon">
                            </div>
                         </div>
                      </div>
                      <div class="mx-auto">
                        <div class="row myk-members-card">
                            <a href="#" class="col-lg-6 nopadding">
                                    <div class="party-management-page-section-members-card d-flex">
                                        <picture class="party-management-pic">
                                            <img src="../assets/img/party-management.png" alt="ManagementCard">
                                        </picture>
                                       <div class="party-management-page-section-members-card-content">
                                          <div class="party-management-page-section-members-card-content-top">
                                             <h4>Gamze Akkul İlgezdihsdfdssd</h4>
                                          </div>
                                          <div class="party-management-page-section-members-card-content-bottom">
                                             <h6>GENEL BAŞKAN YARDIMCISI</h6>
                                             <p>Doğa Hakları - Çevre</p>
                                          </div>
                                       </div>
                                    </div>
                            </a>
                            <a href="#" class="col-lg-6 nopadding">
                                <div class="party-management-page-section-members-card d-flex">
                                    <picture class="party-management-pic">
                                        <img src="../assets/img/party-management.png" alt="ManagementCard">
                                    </picture>
                                   <div class="party-management-page-section-members-card-content">
                                      <div class="party-management-page-section-members-card-content-top">
                                         <h4>Gamze Akkul İlgezdihsdfdssd</h4>
                                      </div>
                                      <div class="party-management-page-section-members-card-content-bottom">
                                         <h6>GENEL BAŞKAN YARDIMCISI</h6>
                                         <p>Doğa Hakları - Çevre</p>
                                      </div>
                                   </div>
                                </div>
                            </a>
                            <a href="#" class="col-lg-6 nopadding">
                                <div class="party-management-page-section-members-card d-flex">
                                    <picture class="party-management-pic">
                                        <img src="../assets/img/party-management.png" alt="ManagementCard">
                                    </picture>
                                   <div class="party-management-page-section-members-card-content">
                                      <div class="party-management-page-section-members-card-content-top">
                                         <h4>Gamze Akkul İlgezdihsdfdssd</h4>
                                      </div>
                                      <div class="party-management-page-section-members-card-content-bottom">
                                         <h6>GENEL BAŞKAN YARDIMCISI</h6>
                                         <p>Doğa Hakları - Çevre</p>
                                      </div>
                                   </div>
                                </div>
                            </a>
                        </div>
                   </div>
                </div>
            </div>
        </div>
    </div>
 </div>
 
 




















<!--<div class="container">
    <div class="d-flex justify-content-between align-items-center party-management-page-section-title">
       <div class="journal-titles">
          <h2>PARTİ YÖNETİMİ</h2>
       </div>
    </div> 
 </div>
 <div class="party-management-page-section-main">
    <div class="party-management-page-section">
        <div class="container">
            <div class="row g-0">
                <div class="col-xs-12 col-lg-3 party-management-page-top">
                   <div class="party-management-page-section-aside">
                      <ul>
                         <li><a>MYK ÜYELERİ</a></li>
                         <li><a>GENEL SEKRETER</a></li>
                         <li><a>PARTİ MECLİS ÜYELERİ</a></li>
                         <li><a>YDK ÜYELERİ</a></li>
                         <li><a>MİLLETVEKİLLERİ</a></li>
                         <li><a>İL BAŞKANLIKLARI</a></li>
                         <li><a>İLÇE BAŞKANLIKLARI</a></li>
                      </ul>
                      <div class="party-management-page-section-aside-select">
                         <span class="party-management-page-section-aside-select-arrow"><img src="../assets/svg/arrow-down-black.svg"></span>
                         <select>
                            <option>MYK ÜYELERİ</option>
                            <option>GENEL SEKRETER</option>
                            <option>PARTİ MECLİS ÜYELERİ</option>
                            <option>YDK ÜYELERİ</option>
                            <option>MİLLETVEKİLLERİ</option>
                            <option>İL BAŞKANLIKLARI</option>
                            <option>İLÇE BAŞKANLIKLARI</option>
                         </select>
                      </div>
                    </div>
                </div>
                <div class="col-lg-9 party-management-page-bottom">
                   <div class="party-management-page-section-members">
                      <div class="d-flex party-management-page-section-center">
                         <div class="party-management-page-section-members-title">
                            <h2>MYK Üyeleri</h2>
                         </div> 
                         <div class="party-management-page-section-members-input">
                            <div class="party-management-page-section-members-input-filter">
                               <input type="text" class="form-control" placeholder="Ad ve Soyadı ile filtreleyin">
                               <img class="filter-icon" src="../assets/svg/management-filter.svg" alt="Filter Icon">
                            </div>
                         </div>
                      </div>
                      <div class="mx-auto">
                        <div class="row myk-members-card">
                            <a href="#" class="col-lg-6 nopadding">
                                    <div class="party-management-page-section-members-card d-flex">
                                        <picture class="party-management-pic">
                                            <img src="../assets/img/party-management.png" alt="ManagementCard">
                                        </picture>
                                       <div class="party-management-page-section-members-card-content">
                                          <div class="party-management-page-section-members-card-content-top">
                                             <h4>Gamze Akkul İlgezdihsdfdssd</h4>
                                          </div>
                                          <div class="party-management-page-section-members-card-content-bottom">
                                             <h6>GENEL BAŞKAN YARDIMCISI</h6>
                                             <p>Doğa Hakları - Çevre</p>
                                          </div>
                                       </div>
                                    </div>
                            </a>
                            <a href="#" class="col-lg-6 nopadding">
                                <div class="party-management-page-section-members-card d-flex">
                                    <picture class="party-management-pic">
                                        <img src="../assets/img/party-management.png" alt="ManagementCard">
                                    </picture>
                                   <div class="party-management-page-section-members-card-content">
                                      <div class="party-management-page-section-members-card-content-top">
                                         <h4>Gamze Akkul İlgezdihsdfdssd</h4>
                                      </div>
                                      <div class="party-management-page-section-members-card-content-bottom">
                                         <h6>GENEL BAŞKAN YARDIMCISI</h6>
                                         <p>Doğa Hakları - Çevre</p>
                                      </div>
                                   </div>
                                </div>
                            </a>
                            <a href="#" class="col-lg-6 nopadding">
                                <div class="party-management-page-section-members-card d-flex">
                                    <picture class="party-management-pic">
                                        <img src="../assets/img/party-management.png" alt="ManagementCard">
                                    </picture>
                                   <div class="party-management-page-section-members-card-content">
                                      <div class="party-management-page-section-members-card-content-top">
                                         <h4>Gamze Akkul İlgezdihsdfdssd</h4>
                                      </div>
                                      <div class="party-management-page-section-members-card-content-bottom">
                                         <h6>GENEL BAŞKAN YARDIMCISI</h6>
                                         <p>Doğa Hakları - Çevre</p>
                                      </div>
                                   </div>
                                </div>
                            </a>
                        </div>
                   </div>
                </div>
            </div>
        </div>
    </div>
 </div>
 
 -->