<div class="party-management-page">
   <div class="container">  
      <div class="row mx-auto">
         <div class="party-management-page-member">
            <div class="col-lg-2 mt-4 w-auto">
                <picture>
                    <img class="party-management-page-member-image" src="../assets/img/partyman-member.png" alt="Parti Yönetimi Üyesi">
                </picture>
            </div>
            <div class="col-lg-10 party-management-page-member-group">
               <div class="party-management-page-member-info">
                  <h3>ONURSAL ADIGÜZEL</h3>
                  <h6>PARTİ MECLİS ÜYESİ</h6>
                  <p>kemal.kilicdaroglu@chp.org.tr</p>
                  <p>0312270404</p>
               </div>
               <div class="party-management-page-member-links d-flex">
                  <div class="party-management-page-member-links-common party-management-page-member-links-mail"></div>
                  <div class="party-management-page-member-links-common party-management-page-member-links-twitter"></div>
                  <div class="party-management-page-member-links-common party-management-page-member-links-facebook"></div>
                  <div class="party-management-page-member-links-common party-management-page-member-links-instagram"></div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
