<div class="publications-details"> 
    <div class="container">
        <div class="publications-details-border">
            <div class="publications-details-title">
                <p class="date effect">22 EYLÜL 2020</p>
                <div class="row justify-content-between">
                    <div class="col-lg-7">
                        <h1>Edebiyatçıların ve Yayıncıların Sorunları ve Çözüm Önerileri</h1>
                    </div>
                    <div class="col-lg-2 publications-details-share ">
                        {% include "components/subSiteNewsShare.html" %}
                    </div>
                </div>
            </div>
        </div>
       

    </div>
 
    <div class="publications-details-download">
        <div class="container">
            <div class="publications-details-download-content">
                <div class="d-flex align-items-center justify-content-between">
                    <div class="d-flex">
                        <span class="publications-details-download-pdf"><img src="../assets/svg/file-pdf-solid.svg"></span>
                        <div class="d-flex flex-column justify-content-center">
                            <p class="publications-details-download-content-text">Edebiyatçıların ve Yayıncıların Sorunları ve Çözüm Önerileri.pdf</p>
                            <p class="publications-details-download-content-info">24 mb</p>
                        </div>
                    </div>
                    
                    <span class="publications-details-download-icon"><img src="../assets/svg/get_app-24px.svg"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="publications-details-most-reading">
        <div class="container">
            <h4 class="publications-details-most-reading-title">En Çok Okunan Yayınlar</h4>
            <div class="row">
                <div class="col-lg-4">
                    <a href="#" style="text-decoration: none;">
                        <div class="d-flex align-items-start publications-list-left-box publications-details-most-reading-box">
                            <img src="../assets/svg/article-24px.svg">
                            <div class="d-flex flex-column ms-3">
                                <p class="date effect">08.08.2020</p>
                                <a href="#"><h4 class="title-effect">Çocuklarımız AKP Rejiminde Yoksul ve Mağdur</h4></a>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4">
                    <a href="#" style="text-decoration: none;">
                        <div class="d-flex align-items-start publications-list-left-box publications-details-most-reading-box">
                            <img src="../assets/svg/article-24px.svg">
                            <div class="d-flex flex-column ms-3">
                                <p class="date effect">08.08.2020</p>
                                <a href="#"><h4 class="title-effect">Çocuklarımız AKP Rejiminde Yoksul ve Mağdur</h4></a>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4">
                    <a href="#" style="text-decoration: none;">
                        <div class="d-flex align-items-start publications-list-left-box publications-details-most-reading-box">
                            <img src="../assets/svg/article-24px.svg">
                            <div class="d-flex flex-column ms-3">
                                <p class="date effect">08.08.2020</p>
                                <a href="#"><h4 class="title-effect">Çocuklarımız AKP Rejiminde Yoksul ve Mağdur</h4></a>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4">
                    <a href="#" style="text-decoration: none;">
                        <div class="d-flex align-items-start publications-list-left-box publications-details-most-reading-box">
                            <img src="../assets/svg/article-24px.svg">
                            <div class="d-flex flex-column ms-3">
                                <p class="date effect">08.08.2020</p>
                                <a href="#"><h4 class="title-effect">Çocuklarımız AKP Rejiminde Yoksul ve Mağdur</h4></a>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4">
                    <a href="#" style="text-decoration: none;">
                        <div class="d-flex align-items-start publications-list-left-box publications-details-most-reading-box">
                            <img src="../assets/svg/article-24px.svg">
                            <div class="d-flex flex-column ms-3">
                                <p class="date effect">08.08.2020</p>
                                <a href="#"><h4 class="title-effect">Çocuklarımız AKP Rejiminde Yoksul ve Mağdur</h4></a>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4">
                    <a href="#" style="text-decoration: none;">
                        <div class="d-flex align-items-start publications-list-left-box publications-details-most-reading-box">
                            <img src="../assets/svg/article-24px.svg">
                            <div class="d-flex flex-column ms-3">
                                <p class="date effect">08.08.2020</p>
                                <a href="#"><h4 class="title-effect">Çocuklarımız AKP Rejiminde Yoksul ve Mağdur</h4></a>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4">
                    <a href="#" style="text-decoration: none;">
                        <div class="d-flex align-items-start publications-list-left-box publications-details-most-reading-box">
                            <img src="../assets/svg/article-24px.svg">
                            <div class="d-flex flex-column ms-3">
                                <p class="date effect">08.08.2020</p>
                                <a href="#"><h4 class="title-effect">Çocuklarımız AKP Rejiminde Yoksul ve Mağdur</h4></a>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4">
                    <a href="#" style="text-decoration: none;">
                        <div class="d-flex align-items-start publications-list-left-box publications-details-most-reading-box">
                            <img src="../assets/svg/article-24px.svg">
                            <div class="d-flex flex-column ms-3">
                                <p class="date effect">08.08.2020</p>
                                <a href="#"><h4 class="title-effect">Çocuklarımız AKP Rejiminde Yoksul ve Mağdur</h4></a>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4">
                    <a href="#" style="text-decoration: none;">
                        <div class="d-flex align-items-start publications-list-left-box publications-details-most-reading-box">
                            <img src="../assets/svg/article-24px.svg">
                            <div class="d-flex flex-column ms-3">
                                <p class="date effect">08.08.2020</p>
                                <a href="#"><h4 class="title-effect">Çocuklarımız AKP Rejiminde Yoksul ve Mağdur</h4></a>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

        </div>
    </div>
 

</div>