<div class="publications">
    <div class="container">
        <div class="publications-main-title">
            <h1>YAYINLAR</h1>
        </div>
        <div class="row">
                <div class="col-lg-6 publications-pad-left">
                    <div class="publications-left">
                        <div class="d-flex">
                            <img class="publications-millet-dergi" src="../assets/img/millet-dergi.png" alt="Chp Millet Dergisi Türkiye'de Tarımın Durumu">
                            <div class="d-flex flex-column justify-content-between ms-3">
                                <h3 class="publications-title">Millet Dergisi Özel Sayı:
                                    Türkiye’de Tarımın Durumu</h3>
                                <div class="">
                                    <div class="publications-second-line">
                                        <button class="btn btn-primary publications-left-btn">GÖRÜNTÜLE</button>
                                        <a href="#" class="d-flex align-items-center ms-3" download>
                                            <span><img src="../assets/svg/cloud_download-blue.svg"></span>
                                            <p class="publications-download ms-2">İNDİR</p>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 publications-pad-right">
                    <div class="publications-right">
                        <div class="d-flex">
                            <img class="publications-edb-dergi" src="../assets/img/edebiyat-dergi.png" alt="Chp Edebiyat Dergisi Edebiyatçıların ve Yayıncıların Sorunları ve Çözüm Önerileri">
                            <div class="d-flex flex-column justify-content-between ms-3">
                                <h3 class="publications-title">Edebiyatçıların ve Yayıncıların Sorunları ve Çözüm Önerileri</h3>
                                <div class="">
                                    <div class="publications-second-line second-box">
                                        <button class="btn btn-secondary publications-right-btn">GÖRÜNTÜLE</button>
                                        <a href="#" class="d-flex align-items-center ms-3" download>
                                            <span><img src="../assets/svg/cloud_download-blue.svg"></span>
                                            <p class="publications-download ms-2">İNDİR</p>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
<div class="publications-mobile">
    <div class="container">
            <div class="publications-main-title">
                <h1>YAYINLAR</h1>
            </div>
        <div class="row">
            <div class="col-sm-12 ">
                <div class="publications-left">
                    <div class="d-flex">
                        <img class="publications-millet-dergi" src="../assets/img/millet-dergi.png" alt="Chp Millet Dergisi Türkiye'de Tarımın Durumu">
                        <h3 class="publications-title">Millet Dergisi Özel Sayı:
                            Türkiye’de Tarımın Durumu</h3>
                    </div>
                    <div class="d-flex flex-column">
                        <div class="publications-left-content">
                            <div class="publications-second-line">
                                <button class="btn-primary publications-left-btn">GÖRÜNTÜLE</button>
                                <a href="#" class="d-flex align-items-center ms-3" download>
                                    <span><img src="../assets/svg/cloud_download-blue.svg"></span>
                                    <p class="publications-download ms-2">İNDİR</p>
                                </a>
        
                            </div>
                        </div>
                    </div>
                </div>
            
              
            </div>
            <div class="col-sm-12 ">
                <div class="publications-right">
                    <div class="d-flex">
                        <img class="publications-edb-dergi" src="../assets/img/edebiyat-dergi.png" alt="Chp Edebiyat Dergisi Edebiyatçıların ve Yayıncıların Sorunları ve Çözüm Önerileri">
                        <h3 class="publications-title">Edebiyatçıların ve Yayıncıların Sorunları ve Çözüm Önerileri</h3>
                    </div>
                    <div class="d-flex flex-column">
                        <div class="publications-left-content">
                            <div class="publications-second-line">
                                <button class="btn-secondary publications-right-btn">GÖRÜNTÜLE</button>
                                <a href="#" class="d-flex align-items-center ms-3" download>
                                    <span><img src="../assets/svg/cloud_download-blue.svg"></span>
                                    <p class="publications-download ms-2">İNDİR</p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
