<div class="publications-images">
    <div class="container">
        <div class="row gx-0">
            <div class="col-lg-9 publications-list-left">
                <div class="col-lg-12 px-0 publications-list-left-content">
                    <div class="d-flex align-items-center publications-list-boxes">
                            <div class="publications-input">
                                <span class="publications-search"><img src="../assets/svg/search-icon.svg"></span>
                                <input type="text" placeholder="YAYINLARDA ARAYIN">
                            </div>
                            <ul class="publications-dropdown">
                                    <li class="publications-dropdown-list">
                                        <p class="publications-list-right-category" href="#">YAYIN KATEGORİLERİ</p>
                                        <ul class="publications-dropdown-list-content">
                                            <li><a href="#">TÜMÜ</a></li>
                                            <li><a href="#">Bilim Platformu Yayınları</a></li>
                                            <li><a href="#">Kültür ve Sanat Raporları</a></li>
                                            <li><a href="#">Parti Meclisi Raporları</a></li>
                                            <li><a href="#">MYK Raporları</a></li>
                                            <li><a href="#">İşveren Sendikaları ve Meslek Birlikleri Raporları</a></li>
                                            <li><a href="#">İnsan Hakları İhlalleri Raporları</a></li>
                                            <li><a href="#">İşsizlik ve Yolsuzluk Bültenleri</a></li>
                                            <li><a href="#">Yerel Yönetimler Yayınları</a></li>
                                            <li><a href="#">Tarım Politikası Yayınları</a></li>
                                            <li><a href="#">Dijital Yayınlar</a></li>
                                            <li><a href="#">Seçim Bİldirgeleri</a></li>
                                            <li><a href="#">Kongre Bİldirgeleri</a></li>
                                        </ul>
                                    </li>
                                </ul>
                        </div>
                        <div class="d-flex align-items-start publications-list-left-box">
                            <img src="../assets/svg/article-24px.svg">
                            <div class="d-flex flex-column ms-3 publications-list-line">
                                <p class="date effect">08.08.2020</p>
                                <a href="#"><h4 class="title-effect">Çocuklarımız AKP Rejiminde Yoksul ve Mağdur</h4></a>
                            </div>
                            <img class="publications-page-image" src="../assets/img/edebiyat-dergi.png">
                        </div>
                        <div class="d-flex align-items-start publications-list-left-box">
                            <img src="../assets/svg/article-24px.svg">
                            <div class="d-flex flex-column ms-3 publications-list-line">
                                <p class="date effect">08.08.2020</p>
                                <a href="#"><h4 class="title-effect">Sosyal Demokrat Belediyelerde Kültür ve Sanat Sempozyumu</h4></a>
                            </div>
                            <img class="publications-page-image" src="../assets/img/edebiyat-dergi.png">
                        </div>
                        <div class="d-flex align-items-start publications-list-left-box">
                            <img src="../assets/svg/article-24px.svg">
                            <div class="d-flex flex-column ms-3 publications-list-line">
                                <p class="date effect">08.08.2020</p>
                                <a href="#"><h4 class="title-effect">37. Olağan Kurultay Parti Meclisi Çalışma Raporu</h4></a>
                            </div>
                            <img class="publications-page-image" src="../assets/img/edebiyat-dergi.png">
                        </div>
                        <div class="d-flex align-items-start publications-list-left-box">
                            <img src="../assets/svg/article-24px.svg">
                            <div class="d-flex flex-column ms-3 publications-list-line">
                                <p class="date effect">08.08.2020</p>
                                <a href="#"><h4 class="title-effect">Romanlar İçin Yoksulluk ve Ayrımcılık Kader Olmasın - en Canlı Renklerimiz Solmasın</h4></a>
                            </div>
                            <img class="publications-page-image" src="../assets/img/edebiyat-dergi.png">
                        </div>
                        <div class="d-flex align-items-start publications-list-left-box">
                            <img src="../assets/svg/article-24px.svg">
                            <div class="d-flex flex-column ms-3 publications-list-line">
                                <p class="date effect">08.08.2020</p>
                                <a href="#"><h4 class="title-effect">KSP Bülten</h4></a>
                            </div>
                            <img class="publications-page-image" src="../assets/img/edebiyat-dergi.png">
                        </div>
                        <div class="d-flex align-items-start publications-list-left-box">
                            <img src="../assets/svg/article-24px.svg">
                            <div class="d-flex flex-column ms-3 publications-list-line">
                                <p class="date effect">08.08.2020</p>
                                <a href="#"><h4 class="title-effect">AKP’nin Sivil Topluma Müdahaleleri Suskun Türkiye</h4></a>
                            </div>
                            <img class="publications-page-image" src="../assets/img/edebiyat-dergi.png">
                        </div>
                        <div class="d-flex align-items-start publications-list-left-box">
                            <img src="../assets/svg/article-24px.svg">
                            <div class="d-flex flex-column ms-3 publications-list-line">
                                <p class="date effect">08.08.2020</p>
                                <a href="#"><h4 class="title-effect">Tutuklu Milletvekilleri Raporu</h4></a>
                            </div>
                            <img class="publications-page-image" src="../assets/img/edebiyat-dergi.png">
                        </div>
                        <div class="d-flex align-items-start publications-list-left-box">
                            <img src="../assets/svg/article-24px.svg">
                            <div class="d-flex flex-column ms-3 publications-list-line">
                                <p class="date effect">08.08.2020</p>
                                <a href="#"><h4 class="title-effect">Doğu ve Güneydoğu Raporu 1989</h4></a>
                            </div>
                            <img class="publications-page-image" src="../assets/img/edebiyat-dergi.png">
                        </div>
                        <div class="d-flex align-items-start publications-list-left-box">
                            <img src="../assets/svg/article-24px.svg">
                            <div class="d-flex flex-column ms-3 publications-list-line">
                                <p class="date effect">08.08.2020</p>
                                <a href="#"><h4 class="title-effect">CHP İşsizlik ve Yoksulluk Bülteni No: 4</h4></a>
                            </div>
                            <img class="publications-page-image" src="../assets/img/edebiyat-dergi.png">
                        </div>
                        <div class="d-flex align-items-start publications-list-left-box">
                            <img src="../assets/svg/article-24px.svg">
                            <div class="d-flex flex-column ms-3 publications-list-line">
                                <p class="date effect">08.08.2020</p>
                                <a href="#"><h4>2019-2020 Kongreler Rehberi</h4></a>
                            </div>
                            <img class="publications-page-image" src="../assets/img/edebiyat-dergi.png">
                        </div>
                        <div class="publications-page-num">
                            {% include "components/Journal-pagination.html" %}
                        </div>
    
                    </ul>
                </div>
                </div>
                <div class="col-lg-3 publications-list-right">
                <p class="publications-list-right-category">YAYIN KATEGORİLERİ</p>
                <div>
                    <ul>
                        <li><a href="#">TÜMÜ</a></li>
                        <li><a href="#">Bilim Platformu Yayınları</a></li>
                        <li><a href="#">Kültür ve Sanat Raporları</a></li>
                        <li><a href="#">Parti Meclisi Raporları</a></li>
                        <li><a href="#">MYK Raporları</a></li>
                        <li><a href="#">İşveren Sendikaları ve Meslek Birlikleri Raporları</a></li>
                        <li><a href="#">İnsan Hakları İhlalleri Raporları</a></li>
                        <li><a href="#">İşsizlik ve Yolsuzluk Bültenleri</a></li>
                        <li><a href="#">Yerel Yönetimler Yayınları</a></li>
                        <li><a href="#">Tarım Politikası Yayınları</a></li>
                        <li><a href="#">Dijital Yayınlar</a></li>
                        <li><a href="#">Seçim Bİldirgeleri</a></li>
                        <li><a href="#">Kongre Bİldirgeleri</a></li>
                    </ul>
                </div>
                </div>
            </div>
        </div>
    </div>