<div class="container">
    <div class="breadcrumb-part">
        <div class="row">
            <div class="col-lg-9 mx-auto">
                <nav style="--bs-breadcrumb-divider: url(../svg/sharp-keyboard_arrow_right-24px.svg);" aria-label="breadcrumb">
                    <ol class="breadcrumb">
                      <li class="breadcrumb-item"><a href="#">Anasayfa</a></li>
                      <li class="breadcrumb-item active" aria-current="page">Yayınlar</li>
                    </ol>
                  </nav>
            </div>
        </div>
    </div>
</div>