<div class="publications-list">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 publications-list-left">
                <div class="col-lg-12 px-0 publications-list-left-content">
                    <div class="d-flex align-items-center publications-list-boxes">
                        <ul class="search-dropdown ">
                            <li class="search-dropdown-list">

                                <p class="publications-list-right-category">KATEGORİLER</p>
                                <span class="publications-arrow-down"><img class="arrow-search"
                                        src="../assets/svg/arrow-down.svg"></span>
                                <ul class="search-dropdown-content-list">
                                    <li><a href="#">TÜMÜ</a></li>
                                    <li><a href="#">KATEGORİ 1 (234)</a></li>
                                    <li><a href="#">KATEGORİ 2 (23)</a></li>
                                    <li><a href="#">KATEGORİ 3 (234)</a></li>
                                    <li><a href="#">KATEGORİ 4 (234)</a></li>
                                </ul>
                            </li>

                        </ul>

                    </div>

                    <div class="d-flex align-items-start publications-list-left-box">
                        <img src="../assets/svg/article-24px.svg">
                        <div class="d-flex flex-column ms-3">
                            <p class="date effect">08.08.2020 - KATEGORi</p>
                            <a href="#">
                                <h4 class="title-effect">Çocuklarımız AKP Rejiminde Yoksul ve Mağdur</h4>
                            </a>
                        </div>
                    </div>
                    <div class="d-flex align-items-start publications-list-left-box">
                        <img src="../assets/svg/article-24px.svg">
                        <div class="d-flex flex-column ms-3">
                            <p class="date effect">08.08.2020 - KATEGORi</p>
                            <a href="#">
                                <h4 class="title-effect">Sosyal Demokrat Belediyelerde Kültür ve Sanat Sempozyumu</h4>
                            </a>
                        </div>
                    </div>
                    <div class="d-flex align-items-start publications-list-left-box">
                        <img src="../assets/svg/article-24px.svg">
                        <div class="d-flex flex-column ms-3">
                            <p class="date effect">08.08.2020 - KATEGORi</p>
                            <a href="#">
                                <h4 class="title-effect">37. Olağan Kurultay Parti Meclisi Çalışma Raporu</h4>
                            </a>
                        </div>
                    </div>
                    <div class="d-flex align-items-start publications-list-left-box">
                        <img src="../assets/svg/article-24px.svg">
                        <div class="d-flex flex-column ms-3">
                            <p class="date effect">08.08.2020 - KATEGORi</p>
                            <a href="#">
                                <h4 class="title-effect">Romanlar İçin Yoksulluk ve Ayrımcılık Kader Olmasın - en Canlı
                                    Renklerimiz Solmasın</h4>
                            </a>
                        </div>
                    </div>
                    <div class="d-flex align-items-start publications-list-left-box">
                        <img src="../assets/svg/article-24px.svg">
                        <div class="d-flex flex-column ms-3">
                            <p class="date effect">08.08.2020 - KATEGORi</p>
                            <a href="#">
                                <h4 class="title-effect">KSP Bülten</h4>
                            </a>
                        </div>
                    </div>
                    <div class="d-flex align-items-start publications-list-left-box">
                        <img src="../assets/svg/article-24px.svg">
                        <div class="d-flex flex-column ms-3">
                            <p class="date effect">08.08.2020 - KATEGORi</p>
                            <a href="#">
                                <h4 class="title-effect">AKP’nin Sivil Topluma Müdahaleleri Suskun Türkiye</h4>
                            </a>
                        </div>
                    </div>
                    <div class="d-flex align-items-start publications-list-left-box">
                        <img src="../assets/svg/article-24px.svg">
                        <div class="d-flex flex-column ms-3">
                            <p class="date effect">08.08.2020 - KATEGORi</p>
                            <a href="#">
                                <h4 class="title-effect">Tutuklu Milletvekilleri Raporu</h4>
                            </a>
                        </div>
                    </div>
                    <div class="d-flex align-items-start publications-list-left-box">
                        <img src="../assets/svg/article-24px.svg">
                        <div class="d-flex flex-column ms-3">
                            <p class="date effect">08.08.2020 - KATEGORi</p>
                            <a href="#">
                                <h4 class="title-effect">Doğu ve Güneydoğu Raporu 1989</h4>
                            </a>
                        </div>
                    </div>
                    <div class="d-flex align-items-start publications-list-left-box">
                        <img src="../assets/svg/article-24px.svg">
                        <div class="d-flex flex-column ms-3">
                            <p class="date effect">08.08.2020 - KATEGORi</p>
                            <a href="#">
                                <h4 class="title-effect">CHP İşsizlik ve Yoksulluk Bülteni No: 4</h4>
                            </a>
                        </div>
                    </div>
                    <div class="d-flex align-items-start publications-list-left-box">
                        <img src="../assets/svg/article-24px.svg">
                        <div class="d-flex flex-column ms-3">
                            <p class="date effect">08.08.2020 - KATEGORi</p>
                            <a href="#">
                                <h4>2019-2020 Kongreler Rehberi</h4>
                            </a>
                        </div>
                    </div>
                    <div class="publications-page-num">
                        {% include "components/Journal-pagination.html" %}
                    </div>

                    </ul>
                </div>
            </div>
            <div class="col-lg-3 publications-list-right">
                <p class="publications-list-right-category">KATEGORİLER</p>
                <div>
                    <ul class="publications-list-right-content">
                        <li><a href="#">TÜMÜ</a></li>
                        <li><a href="#">KATEGORİ 1 (234)</a></li>
                        <li><a href="#">KATEGORİ 2 (23)</a></li>
                        <li><a href="#">KATEGORİ 3 (234)</a></li>
                        <li><a href="#">KATEGORİ 4 (234)</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>