<section class="slider">
    <div class="slider-items">
        <div class="slider-item active">
            <div class=" section">
                <img class="slider image" src="../assets/img/genelbaskan.jpg" alt="Genel Baskan">
            </div>
            <div class="container">
                <div class="slider-card">
                    <div class="row">
                        <div class="slider-card-box">
                            <div class="slider-card-news">
                                <div class="slider-card-news-details">
                                    <h1 class="slider-card-title title">CHP Genel Başkanı Kemal Kılıçdaroğlu, Fatih
                                        Sultan Mehmet Tablosu Lansmanına Katıldı</h1>
                                </div>
                            </div>

                            <div>
                                <div class="slider-card-icons next-slide">
                                    <span class="slider-card-icons-first">
                                        <img class="slider-card-icons-forward"
                                            src="../assets/svg/arrow_forward_ios-24px.svg">
                                    </span>
                                </div>
                                <div class="prev-slide">

                                    <span class="slider-card-icons-second">
                                        <img class="slider-card-icons-back" src="../assets/svg/arrow_back_ios-24px.svg">
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="slider-item">
            <div class=" slider section">
                <img class="slider image" src="../assets/img/genelbaskan.jpg" alt="Genel Baskan">
            </div>
            <div class="container">
                <div class="slider-card">
                    <div class="row">
                        <div class=" slider-card-box">
                            <div class="slider-card-news ">
                                <div class="slider-card-border"></div>
                                <div class="slider-card-news-details">
                                    <h1 class="slider-card-title title">Lorem ipsum dolor sit amet consectetur
                                        adipisicing elit. Quisquam blanditiis enim d</h1>
                                </div>
                            </div>

                            <div>
                                <div class="slider-card-icons next-slide ">
                                    <span class="slider-card-icons-first">
                                        <img class="slider-card-icons-forward"
                                            src="../assets/svg/arrow_forward_ios-24px.svg">
                                    </span>
                                </div>
                                <div class="prev-slide">
                                    <span class="slider-card-icons-second">
                                        <img class="slider-card-icons-back" src="../assets/svg/arrow_back_ios-24px.svg">
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="swiper-container swiper-base">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <img class="swiper image" src="../assets/img/genelbaskan.jpg" style="width: 100%;" alt="Genel Baskan">
                <div class="container">
                    <div class="row">
                        <div class=" slider-card-mobile">
                            <div class="slider-card-news-mobile">
                                <div class="slider-card-news-details">
                                    <h1 class="slider-card-title title">CHP Genel Başkanı Kemal Kılıçdaroğlu, Fatih Sultan
                                        Mehmet Tablosu Lansmanına Katıldı</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
               
            </div>
            <div class="swiper-slide">
                <img class="swiper image" src="../assets/img/genelbaskan.jpg" style="width: 100%;"
                    alt="Genel Baskan">
                    <div class="container">
                        <div class="row">
                            <div class=" slider-card-mobile">
                                <div class="slider-card-news-mobile">
                                    <div class="slider-card-news-details">

                                        <h1 class="slider-card-title title">CHP Genel Başkanı Kemal Kılıçdaroğlu, Fatih Sultan
                                            Mehmet Tablosu Lansmanına Katıldı</h1>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

            </div>
        </div>
    </div>
</section>