<div class="chp-tv-page-sorting">
    <div class="container">
        <ul class="chp-tv-page-sorting-unorder">
            <li class="chp-tv-page-sorting-menu">
                <p>Sıralama seçenekleri</p>
                <span class="ms-2 sort-icon-light"><img src="../assets/svg/sort.svg"></span>
                <span class="sort-icon-dark ms-2"><img src="../assets/svg/sort-24px.svg"></span>

                <ul class="chp-tv-page-sorting-menu-list">
                    <li><a href="#">Tarihe Göre (Önce En Yeni)</a></li>
                    <li><a href="#">Tarihe Göre (Önce En Eski)</a></li>
                    <li><a href="#">En Uzun</a></li>
                    <li><a href="#">En Kısa</a></li>
                </ul>

            </li>
        </ul>
    </div>

</div>