<div class="container sub-slider-hero-section">
   <div class="row">
      <div class="col-lg-9 sub-slider ">
         <div class="swiper-container">
            <div class="swiper-wrapper">
               <div class="swiper-slide">
                  <a href="#" class="sub-slider-card ">
                     <img class="sub-slider-card-image" src="../assets/img/subSiteImage.png">
                     <div class="sub-slider-card-content">
                        <p class="date effect">08.08.2020</p>
                        <h2 class="sub-slider-card-content-title">CHP’li Kaftancıoğlu, Fatih’te Esnafın Sorunlarını
                           Dinledi, Çözüm Önerilerini Anlattı </h2>
                     </div>
                  </a>
               </div>
               <div class="swiper-slide">
                  <a href="#" class="sub-slider-card ">
                     <img class="sub-slider-card-image" src="../assets/img/subSiteImage.png">
                     <div class="sub-slider-card-content">
                        <p class="date effect">08.08.2020</p>
                        <h2 class="sub-slider-card-content-title">test</h2>
                     </div>
                  </a>
               </div>


            </div>
         </div>



      </div>

      {% include "components/subSiteIlBaskaniCard.html" %}
   </div>
</div>


<div class="sub-slider-mobile-hidden">
   <div class="col-sm-12 col-lg-9 sub-slider-mobile">
      <div class="swiper-container">
         <div class="swiper-wrapper">
            <div class="swiper-slide">
               <a href="#" class="sub-slider-mobile-card">
                  <img class="sub-slider-mobile-card-image" src="../assets/img/subSiteImage.png">
                  <div class="sub-slider-mobile-card-content">
                     <p class="sub-slider-mobile-card-content-date">08.08.2020</p>
                     <h2 class="sub-slider-mobile-card-content-title">CHP’li Kaftancıoğlu, Fatih’te Esnafın Sorunlarını
                        Dinledi, Çözüm Önerilerini Anlattı </h2>
                  </div>
               </a>
            </div>
            <div class="swiper-slide">
               <a href="#" class="sub-slider-mobile-card">
                  <img class="sub-slider-mobile-card-image" src="../assets/img/subSiteImage.png">
                  <div class="sub-slider-mobile-card-content">
                     <p class="sub-slider-mobile-card-content-date">08.08.2020</p>
                     <h2 class="sub-slider-mobile-card-content-title">test </h2>
                  </div>
               </a>
            </div>

         </div>
      </div>
   </div>

   {% include "components/subSiteIlBaskaniCard.html" %}
</div>