   <div class="container newsletter-subscription">
      <div class="row">
         <div class="col-lg-12 mx-auto newsletter-subscription-content">
            <div class="newsletter-subscription-logo">
                <img class="newsletter-subscription-image" src="../assets/img/CHP-Dikey-Logo-2.png" alt="chp logo">
            </div> 
            <div class="newsletter-subscription-content col-lg-10 col-sm-10 mx-auto text-center">
                <h2 class="newsletter-subscription-content-title">CHP E-BÜLTEN ÜYELİĞİ</h2>
                <p class="newsletter-subscription-content-text col-sm-10 mx-auto">CHP ile ilgili tüm gelişmelerden anında haberdar olmak için; “CHP e-Bülten” listesine kayıt olunuz.</p>
                <form class="col-lg-9 col-sm-11 mx-auto d-flex newsletter-subscription-input">
                    <input type="text" placeholder="E-Posta adresinizi buraya yazınız">
                    <button class="newsletter-subscription-btn btn-secondary">KAYDET</button>
                </form>
            </div>      
        </div>
      </div>
  </div>
  
  
  
  
  
  
  
  
  
  
  