<div class="row">
    <a href="#" class="col-sm-12 col-lg-6 sub-management-news-card-content">
          <img src="../assets/img/subsite-news.png" alt="subsite-news-image">
          <p class="sub-management-news-card-content-date date effect">08.08.2020</p>
          <h2 class="px-3">CHP Genel Başkanı Kemal Kılıçdaroğlu, eğitim sektörü paydaşları ile görüştü.</h2>
          <div class="sub-management-news-card-content-show">
             <div class="subsite-news-arrow"></div>
          </div>
    </a>
    <a href="#" class="col-sm-12 col-lg-6 sub-management-news-card-content">
          <img src="../assets/img/subsite-news.png" alt="subsite-news-image">
          <p class="sub-management-news-card-content-date date effect">08.08.2020</p>
          <h2 class="px-3">CHP Genel Başkanı Kemal Kılıçdaroğlu, eğitim sektörü paydaşları ile görüştü.</h2>
          <div class="sub-management-news-card-content-show">
             <div class="subsite-news-arrow"></div>
          </div>
    </a>
 </div>