<div class="management-share d-flex">
   <div class="management-share-icon d-flex">
      <div class="management-share-icon-show">
         <img src="../assets/svg/management-share.svg" alt="Share Icon">
      </div>
      <div class="management-share-icon-hidden">
         <div class="management-share-icon-hidden-content d-flex">
            <a class="active-share">
                <img src="../assets/svg/newshover-share.svg">
            </a>
            <a>
                <img src="../assets/svg/newshover-twitter.svg">
            </a>
            <a>
                <img src="../assets/svg/newshover-facebook.svg">
            </a>
            <a>
                <img src="../assets/svg/newshover-mail.svg">
            </a>
         </div>
      </div>
   </div>
   <div class="management-share-text d-flex">
      <a>Paylaş</a>
   </div>
</div>