<div class="col-sm-12 col-lg-3 sub-pre">
    <div class="sub-pre-card">
        <img class="sub-pre-card-image" src="../assets/img/subSiteImageHandler.png">
        <h3>CANAN KAFTANCIOĞLU</h3>
        <h6>İL BAŞKANI</h6>
        <div class="sub-pre-card-icons">
            <a class="navigation link-button icon">
                <img src="../assets/svg/subSiteCardMail.svg" alt="MailIcon">
            </a>
            <a class="navigation link-button icon">
                <img src="../assets/svg/subSiteCardTwitter.svg" alt="twitterIcon">
            </a>
            <a class="navigation link-button icon">
                <img src="../assets/svg/subSiteCardFacebook.svg" alt="facebookIcon">
            </a>
            <a class="navigation link-button icon">
                <img src="../assets/svg/subSiteCardInstagram.svg" alt="instagramIcon">
            </a>
        </div>
    </div>
    <div class="container">
        <div class="sub-pre-card-tablet">
            <div class="d-flex">
                <div class="sub-pre-card-tablet-img">
                <img src="../assets/img/subsiteilbaskani.png">
                </div>
                <div class="sub-pre-card-tablet-content">
                <h3>CANAN KAFTANCIOĞLU</h3>
                <h6>İL BAŞKANI</h6>
                <div class="sub-pre-card-tablet-icons">
                    <div class="sub-pre-card-tablet-icons-content d-flex">
                        <a href="#" class="navigation link-button icon">
                            <img src="../assets/svg/subSiteCardMail.svg" alt="MailIcon">
                        </a>
                        <a href="#" class="navigation link-button icon">
                            <img src="../assets/svg/subSiteCardTwitter.svg" alt="twitterIcon">
                        </a>
                        <a href="#" class="navigation link-button icon">
                            <img src="../assets/svg/subSiteCardFacebook.svg" alt="facebookIcon">
                        </a>
                        <a href="#" class="navigation link-button icon">
                            <img src="../assets/svg/subSiteCardInstagram.svg" alt="instagramIcon">
                        </a>
                    </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="sub-pre-card-mobile">
            <div class="sub-pre-card-mobile-cage">
                <div class="sub-pre-card-mobile-cage-top d-flex">
                <div class="sub-pre-card-mobile-cage-top-img">
                    <img src="../assets/img/subsiteilbaskani.png">
                </div>
                <div class="sub-pre-card-mobile-cage-top-content">
                    <h3>CANAN KAFTANCIOĞLU</h3>
                    <h6>İL BAŞKANI</h6>
                </div>
                </div>
                <div class="sub-pre-card-mobile-cage-bottom">
                <div class="sub-pre-card-mobile-cage-bottom-icons">
                    <div class="sub-pre-card-mobile-cage-bottom-icons-content d-flex">
                        <a href="#" class="navigation link-button icon">
                            <img src="../assets/svg/subSiteCardMail.svg" alt="MailIcon">
                        </a>
                        <a href="#" class="navigation link-button icon">
                            <img src="../assets/svg/subSiteCardTwitter.svg" alt="twitterIcon">
                        </a>
                        <a href="#" class="navigation link-button icon">
                            <img src="../assets/svg/subSiteCardFacebook.svg" alt="facebookIcon">
                        </a>
                        <a href="#" class="navigation link-button icon">
                            <img src="../assets/svg/subSiteCardInstagram.svg" alt="instagramIcon">
                        </a>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>




<!--<div class="col-sm-12 col-lg-3 sub-pre">
    <div class="sub-pre-card">
       <img class="sub-pre-card-image" src="../assets/img/subSiteImageHandler.png">
       <h3>CANAN KAFTANCIOĞLU</h3>
       <h6>İL BAŞKANI</h6>
       <div class="sub-pre-card-icons">
         <div class="sub-pre-card-icons-content d-flex">
            <a href="#" class="navigation link-button icon">
                <img src="../assets/svg/subSiteCardMail.svg" alt="MailIcon">
            </a>
            <a href="#" class="navigation link-button icon">
                <img src="../assets/svg/subSiteCardTwitter.svg" alt="twitterIcon">
            </a>
            <a href="#" class="navigation link-button icon">
                <img src="../assets/svg/subSiteCardFacebook.svg" alt="facebookIcon">
            </a>
            <a href="#" class="navigation link-button icon">
                <img src="../assets/svg/subSiteCardInstagram.svg" alt="instagramIcon">
            </a>
         </div>
       </div>
   </div>
   <div class="container">
      <div class="sub-pre-card-tablet">
         <div class="d-flex">
            <div class="sub-pre-card-tablet-img">
               <img src="../assets/img/subsiteilbaskani.png">
            </div>
            <div class="sub-pre-card-tablet-content">
               <h3>CANAN KAFTANCIOĞLU</h3>
               <h6>İL BAŞKANI</h6>
               <div class="sub-pre-card-tablet-icons">
                  <div class="sub-pre-card-tablet-icons-content d-flex">
                     <a href="#" class="navigation link-button icon">
                         <img src="../assets/svg/subSiteCardMail.svg" alt="MailIcon">
                     </a>
                     <a href="#" class="navigation link-button icon">
                         <img src="../assets/svg/subSiteCardTwitter.svg" alt="twitterIcon">
                     </a>
                     <a href="#" class="navigation link-button icon">
                         <img src="../assets/svg/subSiteCardFacebook.svg" alt="facebookIcon">
                     </a>
                     <a href="#" class="navigation link-button icon">
                         <img src="../assets/svg/subSiteCardInstagram.svg" alt="instagramIcon">
                     </a>
                  </div>
                </div>
            </div>
         </div>
      </div>
      <div class="sub-pre-card-mobile">
         <div class="sub-pre-card-mobile-cage">
            <div class="sub-pre-card-mobile-cage-top d-flex">
               <div class="sub-pre-card-mobile-cage-top-img">
                  <img src="../assets/img/subsiteilbaskani.png">
               </div>
               <div class="sub-pre-card-mobile-cage-top-content">
                  <h3>CANAN KAFTANCIOĞLU</h3>
                  <h6>İL BAŞKANI</h6>
               </div>
            </div>
            <div class="sub-pre-card-mobile-cage-bottom">
               <div class="sub-pre-card-mobile-cage-bottom-icons">
                  <div class="sub-pre-card-mobile-cage-bottom-icons-content d-flex">
                     <a href="#" class="navigation link-button icon">
                         <img src="../assets/svg/subSiteCardMail.svg" alt="MailIcon">
                     </a>
                     <a href="#" class="navigation link-button icon">
                         <img src="../assets/svg/subSiteCardTwitter.svg" alt="twitterIcon">
                     </a>
                     <a href="#" class="navigation link-button icon">
                         <img src="../assets/svg/subSiteCardFacebook.svg" alt="facebookIcon">
                     </a>
                     <a href="#" class="navigation link-button icon">
                         <img src="../assets/svg/subSiteCardInstagram.svg" alt="instagramIcon">
                     </a>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
 </div>-->