<div class="container sub-invitation-section">
   <div class="row">
      <div class="sub-invitation-section-content">
         <div class="col-lg-9 sub-invitation">
            <div class="sub-invitation-content d-flex">
               <div class="sub-invitation-content-image">
                  <img src="../assets/img/subSiteIkinciYuzyil.png" alt="IkinciYuzyil">
               </div>
               <div class="sub-invitation-content-text">
                  <h2 class="sub-invitation-title">İkinci Yüzyıla Çağrı Beyannamesi</h2>
                  <h6 class="sub-invitation-subtitle">İNDİRMEK İÇİN TIKLAYIN</h6>
               </div>
            </div>
         </div>
         <div class="col-lg-3 activity-report">
            <div class="activity-report-content d-flex">
               <h4>İstanbul İl Başkanlığı 36. Dönem Faaliyet Raporu</h4>
               <h6>İndirmek İçin Tıklayın</h6>
            </div>
         </div>
      </div>
   </div>
</div>



