<div class="sub-management-section">
   <div class="container">
      <div class="row">

            <div class="col-lg-4 sub-management-main-title">
               <h2>İL YÖNETİMİ</h2>
            </div>  
            

            <div class="col-lg-8 sub-management-main-input">
               <div class="sub-management-main-input-filter d-flex">
                  <div class="sub-management-main-input-filter-cage">
                     <input type="text" class="form-control" placeholder="Ad ve Soyadı ile filtreleyin">
                     <img class="filter-icon" src="../assets/svg/management-filter.svg" alt="Filter Icon">
                  </div>               
                  <div class="sub-management-main-input-share">
                     <div class="sub-management-main-input-share-icon d-flex">
                        <div class="sub-management-main-input-share-icon-show">
                           <img src="../assets/svg/management-share.svg" alt="Share Icon">
                        </div>
                        <div class="sub-management-main-input-share-icon-hidden">
                           <div class="sub-management-main-input-share-icon-hidden-content d-flex">
                            <a class="active-share">
                                <img src="../assets/svg/newshover-share.svg">
                            </a>
                            <a>
                                <img src="../assets/svg/newshover-twitter.svg">
                            </a>
                            <a>
                                <img src="../assets/svg/newshover-facebook.svg">
                            </a>
                            <a>
                                <img src="../assets/svg/newshover-mail.svg">
                            </a>
                           </div>
                        </div>
                     </div>
                     <div class="sub-management-main-input-share-text d-flex">
                        <a>Paylaş</a>
                     </div>
                  </div>              
               </div>
            </div>  

   
         <div class="mx-auto sub-management">           
            <div class="row">
               <div class="col-sm-12 col-lg-4">
                  <a class="sub-management-card d-flex">
                     <img src="../assets/img/subsite-management.png" alt="ManagementCard">
                     <div class="sub-management-card-content">
                        <div class="sub-management-card-content-top">
                           <h4>Gülsüm Hale Özcömert Coşkun</h4>
                           <h6>İSTANBUL</h6>
                        </div>
                        <p>İL BAŞKAN YARDIMCISI</p>
                        <p>ÖRGÜTLENME VE ÖRGÜT YÖNETİMİ</p>
                     </div>
                    </a>
               </div> 
               <div class="col-sm-12 col-lg-4">
                  <a class="sub-management-card d-flex">
                     <img src="../assets/img/subsite-management.png" alt="ManagementCard">
                     <div class="sub-management-card-content">
                        <div class="sub-management-card-content-top">
                           <h4>Gülsüm Hale Özcömert Coşkun</h4>
                           <h6>İSTANBUL</h6>
                        </div>
                        <p>İL BAŞKAN YARDIMCISI</p>
                        <p>ÖRGÜTLENME VE ÖRGÜT YÖNETİMİ</p>
                     </div>
                    </a>
               </div> 
               <div class="col-sm-12 col-lg-4">
                  <a class="sub-management-card d-flex">
                     <img src="../assets/img/subsite-management.png" alt="ManagementCard">
                     <div class="sub-management-card-content">
                        <div class="sub-management-card-content-top">
                           <h4>Gülsüm Hale Özcömert Coşkun</h4>
                           <h6>İSTANBUL</h6>
                        </div>
                        <p>İL BAŞKAN YARDIMCISI</p>
                        <p>ÖRGÜTLENME VE ÖRGÜT YÖNETİMİ</p>
                     </div>
                    </a>
               </div> 
               <div class="col-sm-12 col-lg-4">
                <a class="sub-management-card d-flex">
                   <img src="../assets/img/subsite-management.png" alt="ManagementCard">
                   <div class="sub-management-card-content">
                      <div class="sub-management-card-content-top">
                         <h4>Gülsüm Hale Özcömert Coşkun</h4>
                         <h6>İSTANBUL</h6>
                      </div>
                      <p>İL BAŞKAN YARDIMCISI</p>
                      <p>ÖRGÜTLENME VE ÖRGÜT YÖNETİMİ</p>
                   </div>
                  </a>
             </div> 
             <div class="col-sm-12 col-lg-4">
                <a class="sub-management-card d-flex">
                   <img src="../assets/img/subsite-management.png" alt="ManagementCard">
                   <div class="sub-management-card-content">
                      <div class="sub-management-card-content-top">
                         <h4>Gülsüm Hale Özcömert Coşkun</h4>
                         <h6>İSTANBUL</h6>
                      </div>
                      <p>İL BAŞKAN YARDIMCISI</p>
                      <p>ÖRGÜTLENME VE ÖRGÜT YÖNETİMİ</p>
                   </div>
                  </a>
             </div> 
             <div class="col-sm-12 col-lg-4">
                <a class="sub-management-card d-flex">
                   <img src="../assets/img/subsite-management.png" alt="ManagementCard">
                   <div class="sub-management-card-content">
                      <div class="sub-management-card-content-top">
                         <h4>Gülsüm Hale Özcömert Coşkun</h4>
                         <h6>İSTANBUL</h6>
                      </div>
                      <p>İL BAŞKAN YARDIMCISI</p>
                      <p>ÖRGÜTLENME VE ÖRGÜT YÖNETİMİ</p>
                   </div>
                  </a>
             </div> 
            </div>        
         </div>
      </div>
   </div>
</div>