<div class="container">
    <div class="row">
        <div class="col-lg-6 mx-auto">
            <div class="twitter-card mb-20">
                <a href="#">
                    <div class="d-flex justify-content-between twitter-card-head">
                        <div class="d-flex align-items-center">
                            <img src="https://pbs.twimg.com/profile_images/1362474059225853955/rMuVpgRx_normal.jpg" class="twitter-card-round">
                            <div class="d-flex flex-column ms-1">
                                <div class="d-flex align-items-center">
                                    <h6 class="twitter-card-brand">Twitter</h6>
                                    <span><img class="ms-1" src="../assets/svg/twitter-check.svg"></span>
                                </div>
    
                                <h6 class="twitter-card-user">@Twitter</h6>
                            </div>
                        </div>
                        <div>
                            <img src="../assets/svg/twitter-blue.svg">
                        </div>
                    </div>
                    <div class="twitter-card-tweet">
                        <h3 class="twitter-card-tweet">
                           Bugüne kadar 15 istihdam, 6 ekonomi, toplam 21 paket açıkladılar.
                                Ekonomiye bir bakalım…
                            </h3>
                    </div>
                    <div class="twitter-card-content">
    
                    </div>
                    <div class="twitter-card-date">
                        <h6 class="twitter-card-date">12 Feb 2020</h6>
                    </div>
                    <div class="d-flex justify-content-between twitter-card-actions">
                        <div>
                            <img src="../assets/svg/twitter-comment.svg">
                        </div>
                        <div class="d-flex align-items-center">
                            <img src="../assets/svg/twitter-retweet.svg">
                            <p class="ms-1">68</p>
                        </div>
                        <div class="d-flex align-items-center">
                            <img src="../assets/svg/twitter-like.svg">
                            <p class="ms-1">21.4K</p>
                        </div>
                        <div>
                            <img src="../assets/svg/twitter-share.svg">
                        </div>
                    </div>
                </a>
               
            </div>
        </div>

    </div>

</div>