.breadcrumb-part {
    border-left: 1px solid $gray;
    border-right: 1px solid $gray;
}
.breadcrumb-item {
    font-family: Gotham-Light;
    font-size: 12px;
    line-height: 1.83;
    a {
        color: #000000;
        text-decoration: none;
    }
}.breadcrumb {
    background-color: transparent;
    margin-top: 14px;
    margin-left: 15px;
    margin-bottom: 0;
}