.contact-presidencies-page-section iframe{
   width: 100%;
   height: 727px;
}

.contact-presidencies-page-card{
   position: absolute;
   top: 150px;
   right: 200px;
   background-color: #fff;
   width: 400px;
   padding-bottom: 40px;

   &-content{
      & .contact-presidencies-card-select{
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
         background-color: #f8f8f8;
         height: 80px;
         position: relative;
         & .subsite-selectbox-arrow {
            position: absolute;
            right: 35px;
            bottom: 28px;
        }
      }
      & .contact-presidencies-card-sub{
         display: flex;
         justify-content: space-evenly;
         align-items: center;
         background-color: #f8f8f8;
         height: 80px;
         border-top:1px solid $gray;
         border-bottom:1px solid $gray;
         padding-top:10px;
         padding-bottom:10px;
         position: relative;
        & select{
            width: 170px;
        }
        & .subsite-selectbox-arrow {
            position: absolute;
            right: 35px;
            bottom: 28px;
            &:first-child{
                right: 225px;
            }
        }
      }
      & .contact-presidencies-card-info{
         margin-left: 20px;
         > div{
            margin-top:10px;
            & img{
               margin-right: 10px;
               object-fit: contain;
            }
            & h6{
               color: #000;
               font-family: Gotham-Bold;
               line-height: 1.46;
               letter-spacing: 0.26px;
               margin-top: 5px;
               font-size: 13px;
            }
            & p{
               line-height: 1.64;
               margin-left: 40px;
               margin-top: -5px;
               font-size: 14px;
            }
            & a{
               margin-left: 40px;
               line-height: 1.64;
               color: #e03997;
               font-size: 14px;
            }
            &:first-child{
               margin-top: 10px;
            }
         }
      }
   }
   select {
        -moz-appearance:none; /* Firefox */
        -webkit-appearance:none; /* Safari and Chrome */
        appearance:none;
    }
    .select-control {
        width: 360px;
        height: 46px;
        border: solid 1px $gray;
        font-size: 14px;
        font-weight: 500;
        line-height: 1.43;
        text-indent: 15px;
        &:focus,
        &:active {
            outline: 0;
        }   
    }
}

.contact-presidencies-page-card-mobile{ display: none; }

@media screen and (max-width: 768px) {
   .contact-presidencies-page-section{
      display: none;    
   }
   .contact-presidencies-page-card{
      display: none; 
   }
   .contact-presidencies-page-card-mobile{
      display: block;
      margin-top: 50px;
      width: 90%;
      &-title{
         display: flex;
         align-items: center;
         & h2{
            line-height: 1.33;
            font-size: 36px;
            border-left: 2px solid $secondary;
            padding-left: 10px;
            margin-bottom: 30px;
         }
      }
      & .contact-presidencies-page-card-content{
         border: 1px solid $gray;
         & .contact-presidencies-card-select{
            background:none;
            background-color: #f8f8f8;
            padding-left: 20px;
            padding-right: 20px;
            & select{
               width: 100%;
            }
         }
         & .contact-presidencies-card-sub{
            background-color: #fff;
            padding-left: 20px;
            padding-right: 20px;
            
            &-top{
                position: relative;
                & .subsite-selectbox-arrow {
                    position: absolute;
                    right: 25px;
                    bottom: 10px;
                }
            }
            &-bottom{
                position: relative;
                & .subsite-selectbox-arrow {
                    position: absolute;
                    right: 14px;
                    bottom: 10px;
                }
            }
            & select{
                width: 100%;
            }
            
            &-top{
               width: 100%;
               padding-right: 10px;
            }
            &-bottom{
               width: 100%;
               padding-left: 10px;
            }
         }
         & .contact-presidencies-card-info:last-child{
            margin-bottom: 10px;
         }
      }
      & h6{
         color: #000;
         line-height: 1.46;
         letter-spacing: 0.26px;
         font-size: 13px;
         text-align: center;
         margin-top: 12px;
         &:hover{
            cursor: pointer;
         }
      }
   }
}
@media screen and (max-width: 415px) {
   .contact-presidencies-page-section{
      display: none;    
   }
   .contact-presidencies-page-card{
      display: none; 
   }
   .contact-presidencies-page-card-mobile{
      display: block;
      margin-top: 50px;
      width: 90%;
      &-title{
         display: flex;
         align-items: center;
         & h2{
            line-height: 1.33;
            font-size: 36px;
            border-left: 2px solid $secondary;
            padding-left: 10px;
            margin-bottom: 30px;
         }
      }
      & .contact-presidencies-page-card-content{
         border: 1px solid $gray;
         & .contact-presidencies-card-select{
            background-color: #f8f8f8;
            padding-left: 20px;
            padding-right: 20px;
            & select{
               width: 100%;
            }
         }
         & .contact-presidencies-card-sub{
            flex-flow: column;
            justify-content: space-evenly;
            background-color: #fff;
            width: 100%;
            height: 120px;        
            padding:0px;
            margin:0px;
            & select{
               width: 100%;
               &:last-child{
                  margin-top: 0px;
               }
            }     
            &-top, &-bottom{
               padding-left: 20px;
               padding-right: 20px;
               margin:0px;
               position: relative;
               & .subsite-selectbox-arrow {
                   position: absolute;
                   right: 35px;
                   bottom: 10px;
               }
            }      
         }
         & .contact-presidencies-card-info:last-child{
            margin-bottom: 10px;
         }
      }
   }
}