.header-live-banner {
    background-image: url("../img/gokyuzu2.jpg");
    background-size: cover;
    &-content {
        display: flex;
       align-items: center;
        h2 {
            color: #fff;
        }
        p {
            font-family: Gotham-Bold;
            font-size: 24px;
            line-height: 2;
            color: $primary;
        }
        .video {
            width: 816px;
            height:436px;
        }
    }
    &-info {
        width: 816px;
        padding-left: 30px;
        padding-right: 30px;
        display: flex;
        justify-content: stretch;
        align-items: center;
        .live-description{
            font-size: 18px;
            flex-grow: 1;
        }
        a {
            color: #fff;
            text-decoration: none;
            padding-right: 30px;
        }
    }
}
@media screen and (max-width:1024px) {
    .header-live-banner {
        &-content {
            justify-content: center;
            .video {
                width: 700px;
                height: 350px;
            }
        }
        &-info {
            width: 700px;
        }
        img {
            display: none;
        }
    }
}

@media screen and (max-width:768px) {
    .header-live-banner {
        &-content {
            flex-direction: column;
            padding-bottom: 30px;
            
            .video {
                width: 650px;
                height: 300px;
            }
        }
        &-info {
            width: 100%;
        }
    }

}
@media screen and (max-width:720px) {
    .header-live-banner {
        &-content {
            .video {
                width: 550px;
                height: 300px;
            }
        }

    }
}
@media screen and (max-width:540px) {
    .header-live-banner {
        &-content {
            .video {
                width: 500px;
                height: 250px;
            }
        }

    }
}
@media screen and (max-width:415px) {
    .header-live-banner {
        &-content {
            .video {
                width: 380px;
                height: 150px;
            }
        }

    }
}

@media screen and (max-width:376px) {
    .header-live-banner {
        &-content {
            .video {
                width: 350px;
            }
        }

    }
}
@media screen and (max-width:320px) {
    .header-live-banner {
        &-content {
            .video {
                width: 300px;
            }
        }

    }
}
