.journal-detail-section-main{
   &-content{
      padding-top: 100px;
      padding-bottom: 120px;
      border-left: 1px solid $gray;
      border-right: 1px solid $gray;
      &-title{
         border-left: 2px solid $secondary;
         padding-left: 10px;
         width: 100%;
         & h1{
            font-family: Gotham-Bold;
            line-height: 1.25;
            color: #000;
            font-size: 48px;
         }
         & p{
            font-family: Gotham-Bold;
            line-height: 1.38;
            color: #b7b7b7;
            &:hover{
               color:$secondary;
            }
         }
        
      }
   }
}

.journal-detail-section-main-content-title:hover .effect {
   color: $secondary;
}

.journal-detail-section{
   background-color: #f8f8f8;
   border-top: 1px solid $gray;
   border-bottom: 1px solid $gray;
   & .sub-news{
      border-right: 1px solid $gray;
      justify-content: space-between;
      &-detail{
         border-left: 1px solid $gray;
         margin-top: -60px;
         & img{
            width: 774px; 
            height: 393;
         }
         &-mobile{
            display: none;
         }
         &-tablet{
            display: none;
         }
         &-content{
             padding-top: 35px;
            & p{
               font-family: Gotham-Light;
               font-weight: 500;
               line-height: 1.75;
               color: #4a4a4a;   
               padding-left:20px;
               padding-right:20px;       
            }
            & img{
               margin-top: 70px;
            }
            & .newsdetail-video{
               position: relative;
               &-red{
                  background-color: $secondary;
                  width: 80px;
                  height: 10px;
               }
               &-blue{
                  background-color: $primary;
                  width: 725px;
                  height: 10px;
               }
               &-play{
                  background: url("../svg/subsite-newsdetail-play.svg") no-repeat center;
                  position: absolute;
                  width: 59px;
                  height: 59px;
                  top: 250px;
                  left: 380px;
                  &:hover{
                     cursor: pointer;
                  }
               }
               & h5{
                  font-family: Gotham-Bold;
                  border: 1px solid $gray;
                  border-left: none;
                  border-top: none;
                  color: $primary;
                  font-weight: bold;
                  line-height: 1.75;
                  padding: 25px;
                  background-color: #fff;
               }
            }
            & .newsdetail-quote{
               & h6{
                  font-family: Gotham-Bold;
                  color: $primary;
                  font-weight: 500;
                  font-style: italic;
                  line-height: 1.6;
                  margin: 50px 0 200px 70px;
                  padding-left: 15px;
                  border-left: 5px solid $primary;
               }              
            }
         }
      }
      & .journal-detail-section-icons{
         display: flex;
        // margin-left: 20px;
         margin-left: 80px;
         margin-top: -60px;
         & > div{
            margin-left: -20px;
         }
      }
   }
}
.video-detail {
   width: 744px;
   height: 418px;
}
@media screen and (max-width: 1024px) {
   .journal-detail-section-main{
      margin-bottom: 100px;
      &-content{
         padding-top: 50px;
         padding-bottom: 10px;
         border: 0;
         &-title{
            width: 100%;
            & h1{
               font-size: 36px;
            }
         }
      }
   }


   .journal-detail-section{
      & .sub-news{
         margin-top: 0px;
         flex-direction: column;
         
         &-detail{
            margin-top: -60px;
            &-mobile{
               display: none;
            }
            &-tablet{
               display: block;
            }
            & img{
               width: 100%;
            }
            &-content{
               & .newsdetail-video{
                  &-play{
                     top: 200px;
                     left: 250px;
                  }
                  & h5{
                     padding: 10px;
                     font-size: 15px;
                     background-color: #fff;
                  }
               }
               & .newsdetail-quote h6{
                  margin-left: 0;
               }              
            }
         }
         & .journal-detail-section-icons{
            display: none;
         }
      }
   }
   .video-detail {
      width: 520px;
      height: 300px;
   }
}
@media screen and (max-width: 540px) {
   .video-detail {
      width: 500px;
   }
}

@media screen and (max-width: 415px) {
   .journal-detail-section-main{
      margin-bottom: 100px;
      &-content{
         padding-top: 50px;
         padding-bottom: 10px;
         border: 0;
         &-title{
            width: 100%;
            border-left: none;
            & h1{
               font-size: 24px;
            }
         }
      }
   }


   .journal-detail-section{
      & .sub-news{
         margin-top: 0px;
         flex-direction: column;
         border-right: none;
         
         &-detail{
            border-left: none;
            margin-top: -60px;
            &-mobile{
               display: block;
            }
            &-tablet{
               display: none;
            }
            & img{
               width: 100%;
               height: auto;
            }
            &-content{
               & .newsdetail-video{
                  &-play{
                     top: 150px;
                     left: 160px;
                  }
                  & h5{
                     padding: 10px;
                     font-size: 15px;
                     background-color: #fff;
                  }
               }
               & .newsdetail-quote h6{
                  margin-left: 0;
               }              
            }
         }
         & .journal-detail-section-icons{
            display: none;
         }
      }
   }
   .video-detail {
      width: 330px;
      height: auto;
   }
}
@media screen and (max-width: 320px) {
   .video-detail {
      width: 275px;
   }
}
