.footer-cage{
   background-color: $primary;
   height: 154px;
   &-content{
      display: flex;
      align-items: center;
      & .footer-text p{
         line-height: 1.46;
         color: #ffffff;
      }
   }
}

@media screen and (max-width: 415px) {
   .footer-cage{
      height: 154px;
      &-content{
         display: flex;
         flex-direction: column;
         align-items: center;
         justify-content: center;
         & .footer-text p{
            font-size: 13px;
         }
      }
   }
}

