.sub-twitter-cage{
    margin-top: 17px;
   & .sub-twitter{
      width: 290px;
      &-title h5{
         color: $primary;
         font-family: Gotham-Bold;
         line-height: 0.92;
         border-left: 2px solid $secondary;
         padding: 10px 10px 10px 24px;
         margin-bottom: 20px;
      }
      &-card{
         height: 800px;
      }
   }
}

@media screen and (width: 1024px){
    .sub-twitter-cage{
       & .sub-twitter{
          width: 235px;
       }
    }
 }

@media screen and (max-width: 768px){
   .sub-twitter-cage{
      display: none;
   }
}

@media screen and (max-width: 415px){
   .sub-twitter-cage{
      display: none;
   }
}